settings.xml
*.code-workspace
*.txt
/schema
app/templates_c/
demo.php
data/pgadmin-data/
data/postgres-data/
data/pgadmin-init/
api/gen
api/dhis2/orgunits/test/
api/dhis2/orgunits/fetch.php
api/dhis2/orgunits/test.php
api/dhis2/index.php
api/dhis2/indicators/fetch.php
api/dhis2/indicators/debug_output.json
api/dhis2/analytics/cache/
api/dhis2/analytics/test/
api/database/main/0.php
api/database/main/*.sql
api/database/main/backup
api/database/main/test.php
api/database/test/
api/mail/PHPMailer/
api/users/test.php
api/dev/api/
api/dev/assets/
api/dev/db/db.php
api/dev/docker/
.env
**/note.txt
*.log
prod.docker-compose.yml
.env.prod
.htaccess