settings.xml
*.code-workspace
*.txt
*.mmdb
*.zip
*.sql
*.exe
*.tar.gz
/schema
/analytics/js/
/analytics/config/config.ini.php
/analytics/misc/DBIP-City.mmdb
/analytics/tmp/
/matomo-config/
app/templates_c/
demo.php
data/mariadb_data/
data/mysql-init/
data/pgadmin-data/
data/postgres-data/
data/postgres-init/
data/pgadmin-init/
api/gen
api/dhis2/orgunits/test/
api/dhis2/orgunits/fetch.php
api/dhis2/orgunits/test.php
api/dhis2/index.php
api/dhis2/indicators/fetch.php
api/dhis2/indicators/debug_output.json
api/dhis2/analytics/cache/
api/dhis2/analytics/test/
api/database/main/0.php
api/database/main/1.php
api/database/main/*.sql
api/database/main/backup
api/database/meta/backup
api/database/metabase/backup
api/database/forms/backup
api/database/analytics/backup
api/database/main/test.php
api/database/test/
api/mail/PHPMailer/
api/users/test.php
api/dev/api/
api/dev/assets/
api/dev/db/db.php
api/dev/docker/
api/lbln/tests
#api/lbln/
modules/srcs/
modules/quiz/
modules/test/exam
modules/test/lbq/public/regdevtests/
#modules/forms
!modules/ocr/app/
modules/ocr/app/uploads/
modules/ocr/*.php
modules/ocr/*.txt
modules/ocr/*.md
modules/ocr/*.css
modules/ocr/assets/
.env
**/note.txt
*.log
prod.docker-compose.yml
.env.prod
.htaccess