[data-cellid="grid_c18"][data-page="_global_register"][data-cellid="grid_c18"][data-page="_global_register"][data-cellid="grid_c18"][data-page="_global_register"] {
  background-color: #70b497;
}
[data-cellid="grid_c20"][data-page="_global_register"][data-cellid="grid_c20"][data-page="_global_register"][data-cellid="grid_c20"][data-page="_global_register"] {
  background-color: #ef7541;
}
[data-page="_global_register"][data-itemid="register_header"] {
  font-weight: bold;
}


