[data-page="device_distributions1_report"][data-itemid="report_grid_field10"] {
  font-weight: bold;
}
[data-page="device_distributions1_report"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


