[data-cellid="grid_footcell_field"][data-page="Lifbox_Learning_Network_API_Fetcher_print"][data-cellid="grid_footcell_field"][data-page="Lifbox_Learning_Network_API_Fetcher_print"][data-cellid="grid_footcell_field"][data-page="Lifbox_Learning_Network_API_Fetcher_print"] {
  white-space: nowrap;
}
[data-page="Lifbox_Learning_Network_API_Fetcher_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


