[data-cellid="grid_headcell_checkbox"][data-page="Lifbox_Learning_Network_API_Fetcher_lbln_api_fetcher"][data-cellid="grid_headcell_checkbox"][data-page="Lifbox_Learning_Network_API_Fetcher_lbln_api_fetcher"][data-cellid="grid_headcell_checkbox"][data-page="Lifbox_Learning_Network_API_Fetcher_lbln_api_fetcher"] {
  width: 30px;
}
[data-page="Lifbox_Learning_Network_API_Fetcher_lbln_api_fetcher"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


