[data-cellid="grid_c"][data-page="training_sessions_view"][data-cellid="grid_c"][data-page="training_sessions_view"][data-cellid="grid_c"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c33"][data-page="training_sessions_view"][data-cellid="grid_c33"][data-page="training_sessions_view"][data-cellid="grid_c33"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c34"][data-page="training_sessions_view"][data-cellid="grid_c34"][data-page="training_sessions_view"][data-cellid="grid_c34"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c36"][data-page="training_sessions_view"][data-cellid="grid_c36"][data-page="training_sessions_view"][data-cellid="grid_c36"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c37"][data-page="training_sessions_view"][data-cellid="grid_c37"][data-page="training_sessions_view"][data-cellid="grid_c37"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c41"][data-page="training_sessions_view"][data-cellid="grid_c41"][data-page="training_sessions_view"][data-cellid="grid_c41"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c44"][data-page="training_sessions_view"][data-cellid="grid_c44"][data-page="training_sessions_view"][data-cellid="grid_c44"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c45"][data-page="training_sessions_view"][data-cellid="grid_c45"][data-page="training_sessions_view"][data-cellid="grid_c45"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-cellid="grid_c46"][data-page="training_sessions_view"][data-cellid="grid_c46"][data-page="training_sessions_view"][data-cellid="grid_c46"][data-page="training_sessions_view"] {
  background-color: #e7fbff;
}
[data-page="training_sessions_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


