<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
<!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm  [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        (function() {
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = 'https://lifebox.merqconsultancy.org/analytics/js/container_DPKCUiEL.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->



    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq  [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifebox.merqconsultancy.org/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifeboxme/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel aio_training_tracking search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN participant_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_participant_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="participant_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="participant_id" data-fieldname="participant_id" >


	<label class="r-search-label control-label" for="{$labelfor_participant_id}">
		{$label aio_training_tracking participant_id }	</label>
	<div class="r-search-option">
		{$searchtype_participant_id}
	</div>
	<div class="r-search-field">
		{$participant_id_editcontrol}	</div>
	<div class="r-search-field">
		{$participant_id_editcontrol1}
	</div>
	
</div>

{END participant_id_fieldblock}
											
{BEGIN title_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="title{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="title" data-fieldname="title" >


	<label class="r-search-label control-label" for="{$labelfor_title}">
		{$label aio_training_tracking title }	</label>
	<div class="r-search-option">
		{$searchtype_title}
	</div>
	<div class="r-search-field">
		{$title_editcontrol}	</div>
	<div class="r-search-field">
		{$title_editcontrol1}
	</div>
	
</div>

{END title_fieldblock}
											
{BEGIN first_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_first_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="first_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="first_name" data-fieldname="first_name" >


	<label class="r-search-label control-label" for="{$labelfor_first_name}">
		{$label aio_training_tracking first_name }	</label>
	<div class="r-search-option">
		{$searchtype_first_name}
	</div>
	<div class="r-search-field">
		{$first_name_editcontrol}	</div>
	<div class="r-search-field">
		{$first_name_editcontrol1}
	</div>
	
</div>

{END first_name_fieldblock}
											
{BEGIN middle_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_middle_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="middle_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="middle_name" data-fieldname="middle_name" >


	<label class="r-search-label control-label" for="{$labelfor_middle_name}">
		{$label aio_training_tracking middle_name }	</label>
	<div class="r-search-option">
		{$searchtype_middle_name}
	</div>
	<div class="r-search-field">
		{$middle_name_editcontrol}	</div>
	<div class="r-search-field">
		{$middle_name_editcontrol1}
	</div>
	
</div>

{END middle_name_fieldblock}
											
{BEGIN last_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="last_name" data-fieldname="last_name" >


	<label class="r-search-label control-label" for="{$labelfor_last_name}">
		{$label aio_training_tracking last_name }	</label>
	<div class="r-search-option">
		{$searchtype_last_name}
	</div>
	<div class="r-search-field">
		{$last_name_editcontrol}	</div>
	<div class="r-search-field">
		{$last_name_editcontrol1}
	</div>
	
</div>

{END last_name_fieldblock}
											
{BEGIN gender_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_gender}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="gender{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="gender" data-fieldname="gender" >


	<label class="r-search-label control-label" for="{$labelfor_gender}">
		{$label aio_training_tracking gender }	</label>
	<div class="r-search-option">
		{$searchtype_gender}
	</div>
	<div class="r-search-field">
		{$gender_editcontrol}	</div>
	<div class="r-search-field">
		{$gender_editcontrol1}
	</div>
	
</div>

{END gender_fieldblock}
											
{BEGIN participant_role_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_participant_role}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="participant_role{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="participant_role" data-fieldname="participant_role" >


	<label class="r-search-label control-label" for="{$labelfor_participant_role}">
		{$label aio_training_tracking participant_role }	</label>
	<div class="r-search-option">
		{$searchtype_participant_role}
	</div>
	<div class="r-search-field">
		{$participant_role_editcontrol}	</div>
	<div class="r-search-field">
		{$participant_role_editcontrol1}
	</div>
	
</div>

{END participant_role_fieldblock}
											
{BEGIN country_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="country" data-fieldname="country" >


	<label class="r-search-label control-label" for="{$labelfor_country}">
		{$label aio_training_tracking country }	</label>
	<div class="r-search-option">
		{$searchtype_country}
	</div>
	<div class="r-search-field">
		{$country_editcontrol}	</div>
	<div class="r-search-field">
		{$country_editcontrol1}
	</div>
	
</div>

{END country_fieldblock}
											
{BEGIN facility_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="facility" data-fieldname="facility" >


	<label class="r-search-label control-label" for="{$labelfor_facility}">
		{$label aio_training_tracking facility }	</label>
	<div class="r-search-option">
		{$searchtype_facility}
	</div>
	<div class="r-search-field">
		{$facility_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_editcontrol1}
	</div>
	
</div>

{END facility_fieldblock}
											
{BEGIN phone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_phone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="phone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="phone" data-fieldname="phone" >


	<label class="r-search-label control-label" for="{$labelfor_phone}">
		{$label aio_training_tracking phone }	</label>
	<div class="r-search-option">
		{$searchtype_phone}
	</div>
	<div class="r-search-field">
		{$phone_editcontrol}	</div>
	<div class="r-search-field">
		{$phone_editcontrol1}
	</div>
	
</div>

{END phone_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label aio_training_tracking email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN training_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="training_id" data-fieldname="training_id" >


	<label class="r-search-label control-label" for="{$labelfor_training_id}">
		{$label aio_training_tracking training_id }	</label>
	<div class="r-search-option">
		{$searchtype_training_id}
	</div>
	<div class="r-search-field">
		{$training_id_editcontrol}	</div>
	<div class="r-search-field">
		{$training_id_editcontrol1}
	</div>
	
</div>

{END training_id_fieldblock}
											
{BEGIN training_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="training_name" data-fieldname="training_name" >


	<label class="r-search-label control-label" for="{$labelfor_training_name}">
		{$label aio_training_tracking training_name }	</label>
	<div class="r-search-option">
		{$searchtype_training_name}
	</div>
	<div class="r-search-field">
		{$training_name_editcontrol}	</div>
	<div class="r-search-field">
		{$training_name_editcontrol1}
	</div>
	
</div>

{END training_name_fieldblock}
											
{BEGIN program_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_program}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="program{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="program" data-fieldname="program" >


	<label class="r-search-label control-label" for="{$labelfor_program}">
		{$label aio_training_tracking program }	</label>
	<div class="r-search-option">
		{$searchtype_program}
	</div>
	<div class="r-search-field">
		{$program_editcontrol}	</div>
	<div class="r-search-field">
		{$program_editcontrol1}
	</div>
	
</div>

{END program_fieldblock}
											
{BEGIN partners_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_partners}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="partners{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="partners" data-fieldname="partners" >


	<label class="r-search-label control-label" for="{$labelfor_partners}">
		{$label aio_training_tracking partners }	</label>
	<div class="r-search-option">
		{$searchtype_partners}
	</div>
	<div class="r-search-field">
		{$partners_editcontrol}	</div>
	<div class="r-search-field">
		{$partners_editcontrol1}
	</div>
	
</div>

{END partners_fieldblock}
											
{BEGIN training_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="training_type" data-fieldname="training_type" >


	<label class="r-search-label control-label" for="{$labelfor_training_type}">
		{$label aio_training_tracking training_type }	</label>
	<div class="r-search-option">
		{$searchtype_training_type}
	</div>
	<div class="r-search-field">
		{$training_type_editcontrol}	</div>
	<div class="r-search-field">
		{$training_type_editcontrol1}
	</div>
	
</div>

{END training_type_fieldblock}
											
{BEGIN training_approach_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_approach}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_approach{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="training_approach" data-fieldname="training_approach" >


	<label class="r-search-label control-label" for="{$labelfor_training_approach}">
		{$label aio_training_tracking training_approach }	</label>
	<div class="r-search-option">
		{$searchtype_training_approach}
	</div>
	<div class="r-search-field">
		{$training_approach_editcontrol}	</div>
	<div class="r-search-field">
		{$training_approach_editcontrol1}
	</div>
	
</div>

{END training_approach_fieldblock}
											
{BEGIN training_language_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_language}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_language{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="training_language" data-fieldname="training_language" >


	<label class="r-search-label control-label" for="{$labelfor_training_language}">
		{$label aio_training_tracking training_language }	</label>
	<div class="r-search-option">
		{$searchtype_training_language}
	</div>
	<div class="r-search-field">
		{$training_language_editcontrol}	</div>
	<div class="r-search-field">
		{$training_language_editcontrol1}
	</div>
	
</div>

{END training_language_fieldblock}
											
{BEGIN training_lead_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_lead}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_lead{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="training_lead" data-fieldname="training_lead" >


	<label class="r-search-label control-label" for="{$labelfor_training_lead}">
		{$label aio_training_tracking training_lead }	</label>
	<div class="r-search-option">
		{$searchtype_training_lead}
	</div>
	<div class="r-search-field">
		{$training_lead_editcontrol}	</div>
	<div class="r-search-field">
		{$training_lead_editcontrol1}
	</div>
	
</div>

{END training_lead_fieldblock}
											
{BEGIN quarter_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_quarter}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="quarter{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="quarter" data-fieldname="quarter" >


	<label class="r-search-label control-label" for="{$labelfor_quarter}">
		{$label aio_training_tracking quarter }	</label>
	<div class="r-search-option">
		{$searchtype_quarter}
	</div>
	<div class="r-search-field">
		{$quarter_editcontrol}	</div>
	<div class="r-search-field">
		{$quarter_editcontrol1}
	</div>
	
</div>

{END quarter_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label aio_training_tracking start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN end_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_end_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="end_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="end_date" data-fieldname="end_date" >


	<label class="r-search-label control-label" for="{$labelfor_end_date}">
		{$label aio_training_tracking end_date }	</label>
	<div class="r-search-option">
		{$searchtype_end_date}
	</div>
	<div class="r-search-field">
		{$end_date_editcontrol}	</div>
	<div class="r-search-field">
		{$end_date_editcontrol1}
	</div>
	
</div>

{END end_date_fieldblock}
											
{BEGIN total_days_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_days}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_days{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="total_days" data-fieldname="total_days" >


	<label class="r-search-label control-label" for="{$labelfor_total_days}">
		{$label aio_training_tracking total_days }	</label>
	<div class="r-search-option">
		{$searchtype_total_days}
	</div>
	<div class="r-search-field">
		{$total_days_editcontrol}	</div>
	<div class="r-search-field">
		{$total_days_editcontrol1}
	</div>
	
</div>

{END total_days_fieldblock}
											
{BEGIN days_recorded_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_days_recorded}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="days_recorded{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="days_recorded" data-fieldname="days_recorded" >


	<label class="r-search-label control-label" for="{$labelfor_days_recorded}">
		{$label aio_training_tracking days_recorded }	</label>
	<div class="r-search-option">
		{$searchtype_days_recorded}
	</div>
	<div class="r-search-field">
		{$days_recorded_editcontrol}	</div>
	<div class="r-search-field">
		{$days_recorded_editcontrol1}
	</div>
	
</div>

{END days_recorded_fieldblock}
											
{BEGIN days_attended_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_days_attended}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="days_attended{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="days_attended" data-fieldname="days_attended" >


	<label class="r-search-label control-label" for="{$labelfor_days_attended}">
		{$label aio_training_tracking days_attended }	</label>
	<div class="r-search-option">
		{$searchtype_days_attended}
	</div>
	<div class="r-search-field">
		{$days_attended_editcontrol}	</div>
	<div class="r-search-field">
		{$days_attended_editcontrol1}
	</div>
	
</div>

{END days_attended_fieldblock}
											
{BEGIN attendance_percentage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attendance_percentage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attendance_percentage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="attendance_percentage" data-fieldname="attendance_percentage" >


	<label class="r-search-label control-label" for="{$labelfor_attendance_percentage}">
		{$label aio_training_tracking attendance_percentage }	</label>
	<div class="r-search-option">
		{$searchtype_attendance_percentage}
	</div>
	<div class="r-search-field">
		{$attendance_percentage_editcontrol}	</div>
	<div class="r-search-field">
		{$attendance_percentage_editcontrol1}
	</div>
	
</div>

{END attendance_percentage_fieldblock}
											
{BEGIN attendance_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attendance_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attendance_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="attendance_status" data-fieldname="attendance_status" >


	<label class="r-search-label control-label" for="{$labelfor_attendance_status}">
		{$label aio_training_tracking attendance_status }	</label>
	<div class="r-search-option">
		{$searchtype_attendance_status}
	</div>
	<div class="r-search-field">
		{$attendance_status_editcontrol}	</div>
	<div class="r-search-field">
		{$attendance_status_editcontrol1}
	</div>
	
</div>

{END attendance_status_fieldblock}
											
{BEGIN pre_test_score_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pre_test_score}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pre_test_score{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="pre_test_score" data-fieldname="pre_test_score" >


	<label class="r-search-label control-label" for="{$labelfor_pre_test_score}">
		{$label aio_training_tracking pre_test_score }	</label>
	<div class="r-search-option">
		{$searchtype_pre_test_score}
	</div>
	<div class="r-search-field">
		{$pre_test_score_editcontrol}	</div>
	<div class="r-search-field">
		{$pre_test_score_editcontrol1}
	</div>
	
</div>

{END pre_test_score_fieldblock}
											
{BEGIN post_test_score_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_post_test_score}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="post_test_score{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="post_test_score" data-fieldname="post_test_score" >


	<label class="r-search-label control-label" for="{$labelfor_post_test_score}">
		{$label aio_training_tracking post_test_score }	</label>
	<div class="r-search-option">
		{$searchtype_post_test_score}
	</div>
	<div class="r-search-field">
		{$post_test_score_editcontrol}	</div>
	<div class="r-search-field">
		{$post_test_score_editcontrol1}
	</div>
	
</div>

{END post_test_score_fieldblock}
											
{BEGIN ceu_points_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ceu_points}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ceu_points{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="ceu_points" data-fieldname="ceu_points" >


	<label class="r-search-label control-label" for="{$labelfor_ceu_points}">
		{$label aio_training_tracking ceu_points }	</label>
	<div class="r-search-option">
		{$searchtype_ceu_points}
	</div>
	<div class="r-search-field">
		{$ceu_points_editcontrol}	</div>
	<div class="r-search-field">
		{$ceu_points_editcontrol1}
	</div>
	
</div>

{END ceu_points_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
