<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_daily_attendance_view search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN training_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="training_id" data-fieldname="training_id" >


	<label class="r-search-label control-label" for="{$labelfor_training_id}">
		{$label public_daily_attendance_view training_id }	</label>
	<div class="r-search-option">
		{$searchtype_training_id}
	</div>
	<div class="r-search-field">
		{$training_id_editcontrol}	</div>
	<div class="r-search-field">
		{$training_id_editcontrol1}
	</div>
	
</div>

{END training_id_fieldblock}
											
{BEGIN training_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="training_name" data-fieldname="training_name" >


	<label class="r-search-label control-label" for="{$labelfor_training_name}">
		{$label public_daily_attendance_view training_name }	</label>
	<div class="r-search-option">
		{$searchtype_training_name}
	</div>
	<div class="r-search-field">
		{$training_name_editcontrol}	</div>
	<div class="r-search-field">
		{$training_name_editcontrol1}
	</div>
	
</div>

{END training_name_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label public_daily_attendance_view start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN end_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_end_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="end_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="end_date" data-fieldname="end_date" >


	<label class="r-search-label control-label" for="{$labelfor_end_date}">
		{$label public_daily_attendance_view end_date }	</label>
	<div class="r-search-option">
		{$searchtype_end_date}
	</div>
	<div class="r-search-field">
		{$end_date_editcontrol}	</div>
	<div class="r-search-field">
		{$end_date_editcontrol1}
	</div>
	
</div>

{END end_date_fieldblock}
											
{BEGIN total_days_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_days}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_days{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="total_days" data-fieldname="total_days" >


	<label class="r-search-label control-label" for="{$labelfor_total_days}">
		{$label public_daily_attendance_view total_days }	</label>
	<div class="r-search-option">
		{$searchtype_total_days}
	</div>
	<div class="r-search-field">
		{$total_days_editcontrol}	</div>
	<div class="r-search-field">
		{$total_days_editcontrol1}
	</div>
	
</div>

{END total_days_fieldblock}
											
{BEGIN day_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_day_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="day_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="day_number" data-fieldname="day_number" >


	<label class="r-search-label control-label" for="{$labelfor_day_number}">
		{$label public_daily_attendance_view day_number }	</label>
	<div class="r-search-option">
		{$searchtype_day_number}
	</div>
	<div class="r-search-field">
		{$day_number_editcontrol}	</div>
	<div class="r-search-field">
		{$day_number_editcontrol1}
	</div>
	
</div>

{END day_number_fieldblock}
											
{BEGIN calendar_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calendar_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calendar_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="calendar_date" data-fieldname="calendar_date" >


	<label class="r-search-label control-label" for="{$labelfor_calendar_date}">
		{$label public_daily_attendance_view calendar_date }	</label>
	<div class="r-search-option">
		{$searchtype_calendar_date}
	</div>
	<div class="r-search-field">
		{$calendar_date_editcontrol}	</div>
	<div class="r-search-field">
		{$calendar_date_editcontrol1}
	</div>
	
</div>

{END calendar_date_fieldblock}
											
{BEGIN total_participants_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_participants}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_participants{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="total_participants" data-fieldname="total_participants" >


	<label class="r-search-label control-label" for="{$labelfor_total_participants}">
		{$label public_daily_attendance_view total_participants }	</label>
	<div class="r-search-option">
		{$searchtype_total_participants}
	</div>
	<div class="r-search-field">
		{$total_participants_editcontrol}	</div>
	<div class="r-search-field">
		{$total_participants_editcontrol1}
	</div>
	
</div>

{END total_participants_fieldblock}
											
{BEGIN participants_present_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_participants_present}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="participants_present{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="participants_present" data-fieldname="participants_present" >


	<label class="r-search-label control-label" for="{$labelfor_participants_present}">
		{$label public_daily_attendance_view participants_present }	</label>
	<div class="r-search-option">
		{$searchtype_participants_present}
	</div>
	<div class="r-search-field">
		{$participants_present_editcontrol}	</div>
	<div class="r-search-field">
		{$participants_present_editcontrol1}
	</div>
	
</div>

{END participants_present_fieldblock}
											
{BEGIN attendance_percentage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attendance_percentage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attendance_percentage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="attendance_percentage" data-fieldname="attendance_percentage" >


	<label class="r-search-label control-label" for="{$labelfor_attendance_percentage}">
		{$label public_daily_attendance_view attendance_percentage }	</label>
	<div class="r-search-option">
		{$searchtype_attendance_percentage}
	</div>
	<div class="r-search-field">
		{$attendance_percentage_editcontrol}	</div>
	<div class="r-search-field">
		{$attendance_percentage_editcontrol1}
	</div>
	
</div>

{END attendance_percentage_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
