<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-rprint" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Device Distributions Report.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							{mlang_message PDF_VIEW}			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel device_distributions_report rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #7fffd4;
		}
		td.nbgroup_1{
			background-color: #7fffd4;
		}
		td.header_1 {
			background-color: #7fffd4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #add8e6;
		}
		td.nbgroup_2{
			background-color: #add8e6;
		}
		td.header_2 {
			background-color: #add8e6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #e0ffff;
		}
		td.nbgroup_3{
			background-color: #e0ffff;
		}
		td.header_3 {
			background-color: #e0ffff; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						


<table class="table table-condensed table-striped table-hover table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
				<!--  group headers -->
			{BEGIN region_name_firstnewgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_region_name}">{$label device_distributions_report region_name }</td>
														<td class="blackshade {$fieldclass_country_name}">{$label device_distributions_report country_name }</td>
														<td class="blackshade {$fieldclass_facility_name}">{$label device_distributions_report facility_name }</td>
																																																	
																															<td class="blackshade {$fieldclass_quantity}">{$label device_distributions_report quantity }</td>
														<td class="blackshade {$fieldclass_payment_method}">{$label device_distributions_report payment_method }</td>
														<td class="blackshade {$fieldclass_transaction_type}">{$label device_distributions_report transaction_type }</td>
														<td class="blackshade {$fieldclass_donor}">{$label device_distributions_report donor }</td>
														<td class="blackshade {$fieldclass_device_type}">{$label device_distributions_report device_type }</td>
														<td class="blackshade {$fieldclass_distribution_date}">{$label device_distributions_report distribution_date }</td>
									</tr>
		
																<tr class="group-spliter-1 group-spliter-2 group-spliter-3 " {$rowattrs}>
													<td class="header_1">
				{$xregion_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field" {$item_report_group_field} data-pageid="{$pageid}" data-field="region_name" data-fieldname="region_name" >
{$region_name_grval}
</span>							</td>
															<td class="header_2">
				{$xcountry_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="country_name" data-fieldname="country_name" >
{$country_name_grval}
</span>							</td>
															<td class="header_3">
				{$xfacility_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field2" {$item_report_group_field2} data-pageid="{$pageid}" data-field="facility_name" data-fieldname="facility_name" >
{$facility_name_grval}
</span>							</td>
								<!-- data -->

																																			<td class="data {$fieldclass_quantity}">
								{$xquantity_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >
{$quantity_value}
</span>

				
							</td>
														<td class="data {$fieldclass_payment_method}">
								{$xpayment_method_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >
{$payment_method_value}
</span>

				
							</td>
														<td class="data {$fieldclass_transaction_type}">
								{$xtransaction_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >
{$transaction_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_donor}">
								{$xdonor_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field17" {$item_report_grid_field17} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >
{$donor_value}
</span>

				
							</td>
														<td class="data {$fieldclass_device_type}">
								{$xdevice_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >
{$device_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_distribution_date}">
								{$xdistribution_date_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field1" {$item_report_grid_field1} data-pageid="{$pageid}" data-field="distribution_date" data-fieldname="distribution_date" >
{$distribution_date_value}
</span>

				
							</td>
					
		</tr>
		{END region_name_firstnewgroup}
			{BEGIN country_name_firstnewgroup}
		
											<tr class="group-spliter-2 group-spliter-3 " {$rowattrs}>
													<td class="group_1">
									&nbsp;
							</td>
															<td class="header_2">
				{$xcountry_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="country_name" data-fieldname="country_name" >
{$country_name_grval}
</span>							</td>
															<td class="header_3">
				{$xfacility_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field2" {$item_report_group_field2} data-pageid="{$pageid}" data-field="facility_name" data-fieldname="facility_name" >
{$facility_name_grval}
</span>							</td>
								<!-- data -->

																																			<td class="data {$fieldclass_quantity}">
								{$xquantity_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >
{$quantity_value}
</span>

				
							</td>
														<td class="data {$fieldclass_payment_method}">
								{$xpayment_method_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >
{$payment_method_value}
</span>

				
							</td>
														<td class="data {$fieldclass_transaction_type}">
								{$xtransaction_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >
{$transaction_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_donor}">
								{$xdonor_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field17" {$item_report_grid_field17} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >
{$donor_value}
</span>

				
							</td>
														<td class="data {$fieldclass_device_type}">
								{$xdevice_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >
{$device_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_distribution_date}">
								{$xdistribution_date_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field1" {$item_report_grid_field1} data-pageid="{$pageid}" data-field="distribution_date" data-fieldname="distribution_date" >
{$distribution_date_value}
</span>

				
							</td>
					
		</tr>
		{END country_name_firstnewgroup}
			{BEGIN facility_name_firstnewgroup}
		
						<tr class="group-spliter-3 " {$rowattrs}>
													<td class="group_1">
									&nbsp;
							</td>
															<td class="group_2">
									&nbsp;
							</td>
															<td class="header_3">
				{$xfacility_name_grval}
								<span data-itemtype="report_group_field" data-itemid="report_group_field2" {$item_report_group_field2} data-pageid="{$pageid}" data-field="facility_name" data-fieldname="facility_name" >
{$facility_name_grval}
</span>							</td>
								<!-- data -->

																																			<td class="data {$fieldclass_quantity}">
								{$xquantity_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >
{$quantity_value}
</span>

				
							</td>
														<td class="data {$fieldclass_payment_method}">
								{$xpayment_method_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >
{$payment_method_value}
</span>

				
							</td>
														<td class="data {$fieldclass_transaction_type}">
								{$xtransaction_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >
{$transaction_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_donor}">
								{$xdonor_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field17" {$item_report_grid_field17} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >
{$donor_value}
</span>

				
							</td>
														<td class="data {$fieldclass_device_type}">
								{$xdevice_type_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >
{$device_type_value}
</span>

				
							</td>
														<td class="data {$fieldclass_distribution_date}">
								{$xdistribution_date_value}
								<span data-itemtype="report_grid_field" data-itemid="report_grid_field1" {$item_report_grid_field1} data-pageid="{$pageid}" data-field="distribution_date" data-fieldname="distribution_date" >
{$distribution_date_value}
</span>

				
							</td>
					
		</tr>
		{END facility_name_firstnewgroup}
	
		{BEGIN nonewgroup}
		<tr>
											<td class="group_1">
					&nbsp;
					</td>
											<td class="group_2">
					&nbsp;
					</td>
											<td class="group_3">
					&nbsp;
					</td>
		
																																		<td class="data {$fieldclass_quantity}">
		{$xquantity_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >
{$quantity_value}
</span>

		
		</td>
													<td class="data {$fieldclass_payment_method}">
		{$xpayment_method_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >
{$payment_method_value}
</span>

		
		</td>
													<td class="data {$fieldclass_transaction_type}">
		{$xtransaction_type_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >
{$transaction_type_value}
</span>

		
		</td>
													<td class="data {$fieldclass_donor}">
		{$xdonor_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field17" {$item_report_grid_field17} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >
{$donor_value}
</span>

		
		</td>
													<td class="data {$fieldclass_device_type}">
		{$xdevice_type_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >
{$device_type_value}
</span>

		
		</td>
													<td class="data {$fieldclass_distribution_date}">
		{$xdistribution_date_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field1" {$item_report_grid_field1} data-pageid="{$pageid}" data-field="distribution_date" data-fieldname="distribution_date" >
{$distribution_date_value}
</span>

		
		</td>
							</tr>
	{END nonewgroup}
	
							<!--  group summary -->

	{BEGIN facility_name_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							<td class="group_2" style="border-top: none;"></td>
							
																								<td  class="group_3" colspan=7 >
				{mlang_message SUMMARY_FOR}&nbsp;{$label device_distributions_report facility_name }&nbsp;{$facility_name_grval}
					- <span class="summary-3" data-type="summary">{$groupfacility_name_total_cnt}
					</span> {mlang_message RECORDS_TOTAL}			</td>
																																																			</tr>

					<!--  Sum -->
		<tr class="grouptotalsrow"  >
														<td class="group_3">{mlang_message SUM}</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_3">
				<span class="summary-3" data-type="sum" data-field="quantity">
					{$groupfacility_name_totalquantity_sum}
				</span>
			</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
									</tr>
	
			<!--  Avg -->
		<tr class="grouptotalsrow"  >
														<td class="group_3">{mlang_message AVERAGE}</td>
																		<td class="group_2" >&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_3">
				<span class="summary-3" data-type="avg" data-field="quantity">{$groupfacility_name_totalquantity_avg}
				</span>
			</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
									</tr>
	
			<!--  Min -->
		<tr class="grouptotalsrow" >
														<td class="group_3">{mlang_message MIN}</td>
																		<td class="group_2" >&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_3">
				<span class="summary-3" data-type="min" data-field="quantity">{$groupfacility_name_totalquantity_min}</span>
			</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
									</tr>
	
					<!--  Max -->
		<tr class="grouptotalsrow" >
														<td class="group_3">{mlang_message MAX}</td>
																		<td class="group_2" >&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_3">
				<span class="summary-3" data-type="max" data-field="quantity">{$groupfacility_name_totalquantity_max}
				</span>
			</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
																		<td class="group_3">&nbsp;</td>
									</tr>
	
	{END facility_name_endgroup}
									<!--  group summary -->

	{BEGIN country_name_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=8 >
				{mlang_message SUMMARY_FOR}&nbsp;{$label device_distributions_report country_name }&nbsp;{$country_name_grval}
					- <span class="summary-2" data-type="summary">{$groupcountry_name_total_cnt}
					</span> {mlang_message RECORDS_TOTAL}			</td>
																																																										</tr>

					<!--  Sum -->
		<tr class="grouptotalsrow"  >
														<td class="group_2">{mlang_message SUM}</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_2">
				<span class="summary-2" data-type="sum" data-field="quantity">
					{$groupcountry_name_totalquantity_sum}
				</span>
			</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
									</tr>
	
			<!--  Avg -->
		<tr class="grouptotalsrow"  >
														<td class="group_2">{mlang_message AVERAGE}</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_2">
				<span class="summary-2" data-type="avg" data-field="quantity">{$groupcountry_name_totalquantity_avg}
				</span>
			</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
									</tr>
	
			<!--  Min -->
		<tr class="grouptotalsrow" >
														<td class="group_2">{mlang_message MIN}</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_2">
				<span class="summary-2" data-type="min" data-field="quantity">{$groupcountry_name_totalquantity_min}</span>
			</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
									</tr>
	
					<!--  Max -->
		<tr class="grouptotalsrow" >
														<td class="group_2">{mlang_message MAX}</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_2">
				<span class="summary-2" data-type="max" data-field="quantity">{$groupcountry_name_totalquantity_max}
				</span>
			</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
																		<td class="group_2">&nbsp;</td>
									</tr>
	
	{END country_name_endgroup}
									<!--  group summary -->

	{BEGIN region_name_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=9 >
				{mlang_message SUMMARY_FOR}&nbsp;{$label device_distributions_report region_name }&nbsp;{$region_name_grval}
					- <span class="summary-1" data-type="summary">{$groupregion_name_total_cnt}
					</span> {mlang_message RECORDS_TOTAL}			</td>
																																																																	</tr>

					<!--  Sum -->
		<tr class="grouptotalsrow"  >
														<td class="group_1">{mlang_message SUM}</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_1">
				<span class="summary-1" data-type="sum" data-field="quantity">
					{$groupregion_name_totalquantity_sum}
				</span>
			</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
									</tr>
	
			<!--  Avg -->
		<tr class="grouptotalsrow"  >
														<td class="group_1">{mlang_message AVERAGE}</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_1">
				<span class="summary-1" data-type="avg" data-field="quantity">{$groupregion_name_totalquantity_avg}
				</span>
			</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
									</tr>
	
			<!--  Min -->
		<tr class="grouptotalsrow" >
														<td class="group_1">{mlang_message MIN}</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_1">
				<span class="summary-1" data-type="min" data-field="quantity">{$groupregion_name_totalquantity_min}</span>
			</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
									</tr>
	
					<!--  Max -->
		<tr class="grouptotalsrow" >
														<td class="group_1">{mlang_message MAX}</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="{$fieldclass_quantity} group_1">
				<span class="summary-1" data-type="max" data-field="quantity">{$groupregion_name_totalquantity_max}
				</span>
			</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
																		<td class="group_1">&nbsp;</td>
									</tr>
	
	{END region_name_endgroup}
				{END grid_row}


	
	


    

	

	</tbody>
</table>			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
