<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
<!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm  [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        (function() {
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = 'https://lifebox.merqconsultancy.org/analytics/js/container_DPKCUiEL.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->



    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq  [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifebox.merqconsultancy.org/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifeboxme/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_device_distributions search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN distribution_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distribution_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="distribution_id" data-fieldname="distribution_id" >


	<label class="r-search-label control-label" for="{$labelfor_distribution_id}">
		{$label public_device_distributions distribution_id }	</label>
	<div class="r-search-option">
		{$searchtype_distribution_id}
	</div>
	<div class="r-search-field">
		{$distribution_id_editcontrol}	</div>
	<div class="r-search-field">
		{$distribution_id_editcontrol1}
	</div>
	
</div>

{END distribution_id_fieldblock}
											
{BEGIN region_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_region_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="region_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="region_id" data-fieldname="region_id" >


	<label class="r-search-label control-label" for="{$labelfor_region_id}">
		{$label public_device_distributions region_id }	</label>
	<div class="r-search-option">
		{$searchtype_region_id}
	</div>
	<div class="r-search-field">
		{$region_id_editcontrol}	</div>
	<div class="r-search-field">
		{$region_id_editcontrol1}
	</div>
	
</div>

{END region_id_fieldblock}
											
{BEGIN country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="country_id" data-fieldname="country_id" >


	<label class="r-search-label control-label" for="{$labelfor_country_id}">
		{$label public_device_distributions country_id }	</label>
	<div class="r-search-option">
		{$searchtype_country_id}
	</div>
	<div class="r-search-field">
		{$country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$country_id_editcontrol1}
	</div>
	
</div>

{END country_id_fieldblock}
											
{BEGIN facility_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >


	<label class="r-search-label control-label" for="{$labelfor_facility_id}">
		{$label public_device_distributions facility_id }	</label>
	<div class="r-search-option">
		{$searchtype_facility_id}
	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol1}
	</div>
	
</div>

{END facility_id_fieldblock}
											
{BEGIN device_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_device_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="device_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >


	<label class="r-search-label control-label" for="{$labelfor_device_type}">
		{$label public_device_distributions device_type }	</label>
	<div class="r-search-option">
		{$searchtype_device_type}
	</div>
	<div class="r-search-field">
		{$device_type_editcontrol}	</div>
	<div class="r-search-field">
		{$device_type_editcontrol1}
	</div>
	
</div>

{END device_type_fieldblock}
											
{BEGIN order_reference_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_order_reference}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="order_reference{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="order_reference" data-fieldname="order_reference" >


	<label class="r-search-label control-label" for="{$labelfor_order_reference}">
		{$label public_device_distributions order_reference }	</label>
	<div class="r-search-option">
		{$searchtype_order_reference}
	</div>
	<div class="r-search-field">
		{$order_reference_editcontrol}	</div>
	<div class="r-search-field">
		{$order_reference_editcontrol1}
	</div>
	
</div>

{END order_reference_fieldblock}
											
{BEGIN monthly_surgical_volume_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_monthly_surgical_volume}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="monthly_surgical_volume{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="monthly_surgical_volume" data-fieldname="monthly_surgical_volume" >


	<label class="r-search-label control-label" for="{$labelfor_monthly_surgical_volume}">
		{$label public_device_distributions monthly_surgical_volume }	</label>
	<div class="r-search-option">
		{$searchtype_monthly_surgical_volume}
	</div>
	<div class="r-search-field">
		{$monthly_surgical_volume_editcontrol}	</div>
	<div class="r-search-field">
		{$monthly_surgical_volume_editcontrol1}
	</div>
	
</div>

{END monthly_surgical_volume_fieldblock}
											
{BEGIN contact_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="contact_name" data-fieldname="contact_name" >


	<label class="r-search-label control-label" for="{$labelfor_contact_name}">
		{$label public_device_distributions contact_name }	</label>
	<div class="r-search-option">
		{$searchtype_contact_name}
	</div>
	<div class="r-search-field">
		{$contact_name_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_name_editcontrol1}
	</div>
	
</div>

{END contact_name_fieldblock}
											
{BEGIN contact_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >


	<label class="r-search-label control-label" for="{$labelfor_contact_email}">
		{$label public_device_distributions contact_email }	</label>
	<div class="r-search-option">
		{$searchtype_contact_email}
	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol1}
	</div>
	
</div>

{END contact_email_fieldblock}
											
{BEGIN distribution_month_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_month}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distribution_month{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="distribution_month" data-fieldname="distribution_month" >


	<label class="r-search-label control-label" for="{$labelfor_distribution_month}">
		{$label public_device_distributions distribution_month }	</label>
	<div class="r-search-option">
		{$searchtype_distribution_month}
	</div>
	<div class="r-search-field">
		{$distribution_month_editcontrol}	</div>
	<div class="r-search-field">
		{$distribution_month_editcontrol1}
	</div>
	
</div>

{END distribution_month_fieldblock}
											
{BEGIN distribution_year_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_year}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distribution_year{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="distribution_year" data-fieldname="distribution_year" >


	<label class="r-search-label control-label" for="{$labelfor_distribution_year}">
		{$label public_device_distributions distribution_year }	</label>
	<div class="r-search-option">
		{$searchtype_distribution_year}
	</div>
	<div class="r-search-field">
		{$distribution_year_editcontrol}	</div>
	<div class="r-search-field">
		{$distribution_year_editcontrol1}
	</div>
	
</div>

{END distribution_year_fieldblock}
											
{BEGIN transaction_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transaction_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transaction_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >


	<label class="r-search-label control-label" for="{$labelfor_transaction_type}">
		{$label public_device_distributions transaction_type }	</label>
	<div class="r-search-option">
		{$searchtype_transaction_type}
	</div>
	<div class="r-search-field">
		{$transaction_type_editcontrol}	</div>
	<div class="r-search-field">
		{$transaction_type_editcontrol1}
	</div>
	
</div>

{END transaction_type_fieldblock}
											
{BEGIN payment_method_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_payment_method}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="payment_method{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >


	<label class="r-search-label control-label" for="{$labelfor_payment_method}">
		{$label public_device_distributions payment_method }	</label>
	<div class="r-search-option">
		{$searchtype_payment_method}
	</div>
	<div class="r-search-field">
		{$payment_method_editcontrol}	</div>
	<div class="r-search-field">
		{$payment_method_editcontrol1}
	</div>
	
</div>

{END payment_method_fieldblock}
											
{BEGIN donor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_donor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="donor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >


	<label class="r-search-label control-label" for="{$labelfor_donor}">
		{$label public_device_distributions donor }	</label>
	<div class="r-search-option">
		{$searchtype_donor}
	</div>
	<div class="r-search-field">
		{$donor_editcontrol}	</div>
	<div class="r-search-field">
		{$donor_editcontrol1}
	</div>
	
</div>

{END donor_fieldblock}
											
{BEGIN quantity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_quantity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="quantity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >


	<label class="r-search-label control-label" for="{$labelfor_quantity}">
		{$label public_device_distributions quantity }	</label>
	<div class="r-search-option">
		{$searchtype_quantity}
	</div>
	<div class="r-search-field">
		{$quantity_editcontrol}	</div>
	<div class="r-search-field">
		{$quantity_editcontrol1}
	</div>
	
</div>

{END quantity_fieldblock}
											
{BEGIN is_received_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_received}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_received{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="is_received" data-fieldname="is_received" >


	<label class="r-search-label control-label" for="{$labelfor_is_received}">
		{$label public_device_distributions is_received }	</label>
	<div class="r-search-option">
		{$searchtype_is_received}
	</div>
	<div class="r-search-field">
		{$is_received_editcontrol}	</div>
	<div class="r-search-field">
		{$is_received_editcontrol1}
	</div>
	
</div>

{END is_received_fieldblock}
											
{BEGIN receiving_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_receiving_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="receiving_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="receiving_date" data-fieldname="receiving_date" >


	<label class="r-search-label control-label" for="{$labelfor_receiving_date}">
		{$label public_device_distributions receiving_date }	</label>
	<div class="r-search-option">
		{$searchtype_receiving_date}
	</div>
	<div class="r-search-field">
		{$receiving_date_editcontrol}	</div>
	<div class="r-search-field">
		{$receiving_date_editcontrol1}
	</div>
	
</div>

{END receiving_date_fieldblock}
											
{BEGIN started_using_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_started_using}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="started_using{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="started_using" data-fieldname="started_using" >


	<label class="r-search-label control-label" for="{$labelfor_started_using}">
		{$label public_device_distributions started_using }	</label>
	<div class="r-search-option">
		{$searchtype_started_using}
	</div>
	<div class="r-search-field">
		{$started_using_editcontrol}	</div>
	<div class="r-search-field">
		{$started_using_editcontrol1}
	</div>
	
</div>

{END started_using_fieldblock}
											
{BEGIN date_started_using_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_date_started_using}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="date_started_using{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="date_started_using" data-fieldname="date_started_using" >


	<label class="r-search-label control-label" for="{$labelfor_date_started_using}">
		{$label public_device_distributions date_started_using }	</label>
	<div class="r-search-option">
		{$searchtype_date_started_using}
	</div>
	<div class="r-search-field">
		{$date_started_using_editcontrol}	</div>
	<div class="r-search-field">
		{$date_started_using_editcontrol1}
	</div>
	
</div>

{END date_started_using_fieldblock}
											
{BEGIN notes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_notes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="notes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="notes" data-fieldname="notes" >


	<label class="r-search-label control-label" for="{$labelfor_notes}">
		{$label public_device_distributions notes }	</label>
	<div class="r-search-option">
		{$searchtype_notes}
	</div>
	<div class="r-search-field">
		{$notes_editcontrol}	</div>
	<div class="r-search-field">
		{$notes_editcontrol1}
	</div>
	
</div>

{END notes_fieldblock}
											
{BEGIN created_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >


	<label class="r-search-label control-label" for="{$labelfor_created_at}">
		{$label public_device_distributions created_at }	</label>
	<div class="r-search-option">
		{$searchtype_created_at}
	</div>
	<div class="r-search-field">
		{$created_at_editcontrol}	</div>
	<div class="r-search-field">
		{$created_at_editcontrol1}
	</div>
	
</div>

{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >


	<label class="r-search-label control-label" for="{$labelfor_updated_at}">
		{$label public_device_distributions updated_at }	</label>
	<div class="r-search-option">
		{$searchtype_updated_at}
	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol1}
	</div>
	
</div>

{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
