<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_device_distribution_log search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN log_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_log_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="log_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="log_id" data-fieldname="log_id" >


	<label class="r-search-label control-label" for="{$labelfor_log_id}">
		{$label public_device_distribution_log log_id }	</label>
	<div class="r-search-option">
		{$searchtype_log_id}
	</div>
	<div class="r-search-field">
		{$log_id_editcontrol}	</div>
	<div class="r-search-field">
		{$log_id_editcontrol1}
	</div>
	
</div>

{END log_id_fieldblock}
											
{BEGIN distribution_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distribution_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="distribution_id" data-fieldname="distribution_id" >


	<label class="r-search-label control-label" for="{$labelfor_distribution_id}">
		{$label public_device_distribution_log distribution_id }	</label>
	<div class="r-search-option">
		{$searchtype_distribution_id}
	</div>
	<div class="r-search-field">
		{$distribution_id_editcontrol}	</div>
	<div class="r-search-field">
		{$distribution_id_editcontrol1}
	</div>
	
</div>

{END distribution_id_fieldblock}
											
{BEGIN device_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_device_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="device_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >


	<label class="r-search-label control-label" for="{$labelfor_device_type}">
		{$label public_device_distribution_log device_type }	</label>
	<div class="r-search-option">
		{$searchtype_device_type}
	</div>
	<div class="r-search-field">
		{$device_type_editcontrol}	</div>
	<div class="r-search-field">
		{$device_type_editcontrol1}
	</div>
	
</div>

{END device_type_fieldblock}
											
{BEGIN previous_quantity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_previous_quantity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="previous_quantity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="previous_quantity" data-fieldname="previous_quantity" >


	<label class="r-search-label control-label" for="{$labelfor_previous_quantity}">
		{$label public_device_distribution_log previous_quantity }	</label>
	<div class="r-search-option">
		{$searchtype_previous_quantity}
	</div>
	<div class="r-search-field">
		{$previous_quantity_editcontrol}	</div>
	<div class="r-search-field">
		{$previous_quantity_editcontrol1}
	</div>
	
</div>

{END previous_quantity_fieldblock}
											
{BEGIN distributed_quantity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distributed_quantity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distributed_quantity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="distributed_quantity" data-fieldname="distributed_quantity" >


	<label class="r-search-label control-label" for="{$labelfor_distributed_quantity}">
		{$label public_device_distribution_log distributed_quantity }	</label>
	<div class="r-search-option">
		{$searchtype_distributed_quantity}
	</div>
	<div class="r-search-field">
		{$distributed_quantity_editcontrol}	</div>
	<div class="r-search-field">
		{$distributed_quantity_editcontrol1}
	</div>
	
</div>

{END distributed_quantity_fieldblock}
											
{BEGIN new_quantity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_new_quantity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="new_quantity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="new_quantity" data-fieldname="new_quantity" >


	<label class="r-search-label control-label" for="{$labelfor_new_quantity}">
		{$label public_device_distribution_log new_quantity }	</label>
	<div class="r-search-option">
		{$searchtype_new_quantity}
	</div>
	<div class="r-search-field">
		{$new_quantity_editcontrol}	</div>
	<div class="r-search-field">
		{$new_quantity_editcontrol1}
	</div>
	
</div>

{END new_quantity_fieldblock}
											
{BEGIN performed_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_performed_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="performed_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="performed_by" data-fieldname="performed_by" >


	<label class="r-search-label control-label" for="{$labelfor_performed_by}">
		{$label public_device_distribution_log performed_by }	</label>
	<div class="r-search-option">
		{$searchtype_performed_by}
	</div>
	<div class="r-search-field">
		{$performed_by_editcontrol}	</div>
	<div class="r-search-field">
		{$performed_by_editcontrol1}
	</div>
	
</div>

{END performed_by_fieldblock}
											
{BEGIN created_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >


	<label class="r-search-label control-label" for="{$labelfor_created_at}">
		{$label public_device_distribution_log created_at }	</label>
	<div class="r-search-option">
		{$searchtype_created_at}
	</div>
	<div class="r-search-field">
		{$created_at_editcontrol}	</div>
	<div class="r-search-field">
		{$created_at_editcontrol1}
	</div>
	
</div>

{END created_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
