<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
<!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm  [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        (function() {
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = 'https://lifebox.merqconsultancy.org/analytics/js/container_DPKCUiEL.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->



    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq  [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifebox.merqconsultancy.org/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifeboxme/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel public_device_distributions edit}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="device_distributions_view.php?{$editlink}" {$view_page_button_attrs}>View</a>
{END message_view_page_button}
</div>
</div>
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN region_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_region_id}  r-vertical-field" 
	data-signal-error-for="region_id{$id}" {$required_attr_region_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="region_id" data-fieldname="region_id" >

	<label class="r-edit-label control-label" for="{$labelfor_region_id}">
		{BEGIN region_id_label}{$label public_device_distributions region_id }{END region_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$region_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="region_id" {$tooltipAttr public_device_distributions region_id } >
		<div class="text-muted" >
		{$tooltip public_device_distributions region_id }		</div>
	</div>
</div>


{END region_id_fieldblock}
											
{BEGIN country_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country_id}  r-vertical-field" 
	data-signal-error-for="country_id{$id}" {$required_attr_country_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="country_id" data-fieldname="country_id" >

	<label class="r-edit-label control-label" for="{$labelfor_country_id}">
		{BEGIN country_id_label}{$label public_device_distributions country_id }{END country_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="country_id" {$tooltipAttr public_device_distributions country_id } >
		<div class="text-muted" >
		{$tooltip public_device_distributions country_id }		</div>
	</div>
</div>


{END country_id_fieldblock}
											
{BEGIN facility_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-vertical-field" 
	data-signal-error-for="facility_id{$id}" {$required_attr_facility_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >

	<label class="r-edit-label control-label" for="{$labelfor_facility_id}">
		{BEGIN facility_id_label}{$label public_device_distributions facility_id }{END facility_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$facility_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="facility_id" {$tooltipAttr public_device_distributions facility_id } >
		<div class="text-muted" >
		{$tooltip public_device_distributions facility_id }		</div>
	</div>
</div>


{END facility_id_fieldblock}
											
{BEGIN device_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_device_type}  r-vertical-field" 
	data-signal-error-for="device_type{$id}" {$required_attr_device_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="device_type" data-fieldname="device_type" >

	<label class="r-edit-label control-label" for="{$labelfor_device_type}">
		{BEGIN device_type_label}{$label public_device_distributions device_type }{END device_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$device_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="device_type" {$tooltipAttr public_device_distributions device_type } >
		<div class="text-muted" >
		{$tooltip public_device_distributions device_type }		</div>
	</div>
</div>


{END device_type_fieldblock}
											
{BEGIN order_reference_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_order_reference}  r-vertical-field" 
	data-signal-error-for="order_reference{$id}" {$required_attr_order_reference}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="order_reference" data-fieldname="order_reference" >

	<label class="r-edit-label control-label" for="{$labelfor_order_reference}">
		{BEGIN order_reference_label}{$label public_device_distributions order_reference }{END order_reference_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$order_reference_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="order_reference" {$tooltipAttr public_device_distributions order_reference } >
		<div class="text-muted" >
		{$tooltip public_device_distributions order_reference }		</div>
	</div>
</div>


{END order_reference_fieldblock}
											
{BEGIN monthly_surgical_volume_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_monthly_surgical_volume}  r-vertical-field" 
	data-signal-error-for="monthly_surgical_volume{$id}" {$required_attr_monthly_surgical_volume}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="monthly_surgical_volume" data-fieldname="monthly_surgical_volume" >

	<label class="r-edit-label control-label" for="{$labelfor_monthly_surgical_volume}">
		{BEGIN monthly_surgical_volume_label}{$label public_device_distributions monthly_surgical_volume }{END monthly_surgical_volume_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$monthly_surgical_volume_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="monthly_surgical_volume" {$tooltipAttr public_device_distributions monthly_surgical_volume } >
		<div class="text-muted" >
		{$tooltip public_device_distributions monthly_surgical_volume }		</div>
	</div>
</div>


{END monthly_surgical_volume_fieldblock}
											
{BEGIN contact_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_name}  r-vertical-field" 
	data-signal-error-for="contact_name{$id}" {$required_attr_contact_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="contact_name" data-fieldname="contact_name" >

	<label class="r-edit-label control-label" for="{$labelfor_contact_name}">
		{BEGIN contact_name_label}{$label public_device_distributions contact_name }{END contact_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contact_name" {$tooltipAttr public_device_distributions contact_name } >
		<div class="text-muted" >
		{$tooltip public_device_distributions contact_name }		</div>
	</div>
</div>


{END contact_name_fieldblock}
											
{BEGIN contact_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-vertical-field" 
	data-signal-error-for="contact_email{$id}" {$required_attr_contact_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >

	<label class="r-edit-label control-label" for="{$labelfor_contact_email}">
		{BEGIN contact_email_label}{$label public_device_distributions contact_email }{END contact_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contact_email" {$tooltipAttr public_device_distributions contact_email } >
		<div class="text-muted" >
		{$tooltip public_device_distributions contact_email }		</div>
	</div>
</div>


{END contact_email_fieldblock}
											
{BEGIN distribution_month_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_month}  r-vertical-field" 
	data-signal-error-for="distribution_month{$id}" {$required_attr_distribution_month}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="distribution_month" data-fieldname="distribution_month" >

	<label class="r-edit-label control-label" for="{$labelfor_distribution_month}">
		{BEGIN distribution_month_label}{$label public_device_distributions distribution_month }{END distribution_month_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$distribution_month_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="distribution_month" {$tooltipAttr public_device_distributions distribution_month } >
		<div class="text-muted" >
		{$tooltip public_device_distributions distribution_month }		</div>
	</div>
</div>


{END distribution_month_fieldblock}
											
{BEGIN distribution_year_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_distribution_year}  r-vertical-field" 
	data-signal-error-for="distribution_year{$id}" {$required_attr_distribution_year}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="distribution_year" data-fieldname="distribution_year" >

	<label class="r-edit-label control-label" for="{$labelfor_distribution_year}">
		{BEGIN distribution_year_label}{$label public_device_distributions distribution_year }{END distribution_year_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$distribution_year_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="distribution_year" {$tooltipAttr public_device_distributions distribution_year } >
		<div class="text-muted" >
		{$tooltip public_device_distributions distribution_year }		</div>
	</div>
</div>


{END distribution_year_fieldblock}
											
{BEGIN transaction_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_transaction_type}  r-vertical-field" 
	data-signal-error-for="transaction_type{$id}" {$required_attr_transaction_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="transaction_type" data-fieldname="transaction_type" >

	<label class="r-edit-label control-label" for="{$labelfor_transaction_type}">
		{BEGIN transaction_type_label}{$label public_device_distributions transaction_type }{END transaction_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$transaction_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="transaction_type" {$tooltipAttr public_device_distributions transaction_type } >
		<div class="text-muted" >
		{$tooltip public_device_distributions transaction_type }		</div>
	</div>
</div>


{END transaction_type_fieldblock}
											
{BEGIN payment_method_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_payment_method}  r-vertical-field" 
	data-signal-error-for="payment_method{$id}" {$required_attr_payment_method}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="payment_method" data-fieldname="payment_method" >

	<label class="r-edit-label control-label" for="{$labelfor_payment_method}">
		{BEGIN payment_method_label}{$label public_device_distributions payment_method }{END payment_method_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$payment_method_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="payment_method" {$tooltipAttr public_device_distributions payment_method } >
		<div class="text-muted" >
		{$tooltip public_device_distributions payment_method }		</div>
	</div>
</div>


{END payment_method_fieldblock}
											
{BEGIN donor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_donor}  r-vertical-field" 
	data-signal-error-for="donor{$id}" {$required_attr_donor}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="donor" data-fieldname="donor" >

	<label class="r-edit-label control-label" for="{$labelfor_donor}">
		{BEGIN donor_label}{$label public_device_distributions donor }{END donor_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$donor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="donor" {$tooltipAttr public_device_distributions donor } >
		<div class="text-muted" >
		{$tooltip public_device_distributions donor }		</div>
	</div>
</div>


{END donor_fieldblock}
											
{BEGIN quantity_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_quantity}  r-vertical-field" 
	data-signal-error-for="quantity{$id}" {$required_attr_quantity}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="quantity" data-fieldname="quantity" >

	<label class="r-edit-label control-label" for="{$labelfor_quantity}">
		{BEGIN quantity_label}{$label public_device_distributions quantity }{END quantity_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$quantity_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="quantity" {$tooltipAttr public_device_distributions quantity } >
		<div class="text-muted" >
		{$tooltip public_device_distributions quantity }		</div>
	</div>
</div>


{END quantity_fieldblock}
											
{BEGIN is_received_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_is_received}  r-vertical-field" 
	data-signal-error-for="is_received{$id}" {$required_attr_is_received}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="is_received" data-fieldname="is_received" >

	<label class="r-edit-label control-label" for="{$labelfor_is_received}">
		{BEGIN is_received_label}{$label public_device_distributions is_received }{END is_received_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$is_received_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="is_received" {$tooltipAttr public_device_distributions is_received } >
		<div class="text-muted" >
		{$tooltip public_device_distributions is_received }		</div>
	</div>
</div>


{END is_received_fieldblock}
											
{BEGIN receiving_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_receiving_date}  r-vertical-field" 
	data-signal-error-for="receiving_date{$id}" {$required_attr_receiving_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="receiving_date" data-fieldname="receiving_date" >

	<label class="r-edit-label control-label" for="{$labelfor_receiving_date}">
		{BEGIN receiving_date_label}{$label public_device_distributions receiving_date }{END receiving_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$receiving_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="receiving_date" {$tooltipAttr public_device_distributions receiving_date } >
		<div class="text-muted" >
		{$tooltip public_device_distributions receiving_date }		</div>
	</div>
</div>


{END receiving_date_fieldblock}
											
{BEGIN started_using_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_started_using}  r-vertical-field" 
	data-signal-error-for="started_using{$id}" {$required_attr_started_using}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="started_using" data-fieldname="started_using" >

	<label class="r-edit-label control-label" for="{$labelfor_started_using}">
		{BEGIN started_using_label}{$label public_device_distributions started_using }{END started_using_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$started_using_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="started_using" {$tooltipAttr public_device_distributions started_using } >
		<div class="text-muted" >
		{$tooltip public_device_distributions started_using }		</div>
	</div>
</div>


{END started_using_fieldblock}
											
{BEGIN date_started_using_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_started_using}  r-vertical-field" 
	data-signal-error-for="date_started_using{$id}" {$required_attr_date_started_using}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="date_started_using" data-fieldname="date_started_using" >

	<label class="r-edit-label control-label" for="{$labelfor_date_started_using}">
		{BEGIN date_started_using_label}{$label public_device_distributions date_started_using }{END date_started_using_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$date_started_using_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="date_started_using" {$tooltipAttr public_device_distributions date_started_using } >
		<div class="text-muted" >
		{$tooltip public_device_distributions date_started_using }		</div>
	</div>
</div>


{END date_started_using_fieldblock}
											
{BEGIN notes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_notes}  r-vertical-field" 
	data-signal-error-for="notes{$id}" {$required_attr_notes}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="notes" data-fieldname="notes" >

	<label class="r-edit-label control-label" for="{$labelfor_notes}">
		{BEGIN notes_label}{$label public_device_distributions notes }{END notes_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$notes_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="notes" {$tooltipAttr public_device_distributions notes } >
		<div class="text-muted" >
		{$tooltip public_device_distributions notes }		</div>
	</div>
</div>


{END notes_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label" for="{$labelfor_created_at}">
		{BEGIN created_at_label}{$label public_device_distributions created_at }{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="created_at" {$tooltipAttr public_device_distributions created_at } >
		<div class="text-muted" >
		{$tooltip public_device_distributions created_at }		</div>
	</div>
</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}{$label public_device_distributions updated_at }{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="updated_at" {$tooltipAttr public_device_distributions updated_at } >
		<div class="text-muted" >
		{$tooltip public_device_distributions updated_at }		</div>
	</div>
</div>


{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN save_update}
<span data-itemtype="update_records" data-itemid="update_records" {$item_update_records} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
				 
			{$update_records_label}	
			</a>
</span>
{END save_update}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="device_distributions_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
