<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_lbpmi_calculation_log search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN log_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_log_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="log_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="log_id" data-fieldname="log_id" >


	<label class="r-search-label control-label" for="{$labelfor_log_id}">
		{$label public_lbpmi_calculation_log log_id }	</label>
	<div class="r-search-option">
		{$searchtype_log_id}
	</div>
	<div class="r-search-field">
		{$log_id_editcontrol}	</div>
	<div class="r-search-field">
		{$log_id_editcontrol1}
	</div>
	
</div>

{END log_id_fieldblock}
											
{BEGIN indicator_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indicator_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="indicator_id" data-fieldname="indicator_id" >


	<label class="r-search-label control-label" for="{$labelfor_indicator_id}">
		{$label public_lbpmi_calculation_log indicator_id }	</label>
	<div class="r-search-option">
		{$searchtype_indicator_id}
	</div>
	<div class="r-search-field">
		{$indicator_id_editcontrol}	</div>
	<div class="r-search-field">
		{$indicator_id_editcontrol1}
	</div>
	
</div>

{END indicator_id_fieldblock}
											
{BEGIN calculation_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calculation_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calculation_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="calculation_type" data-fieldname="calculation_type" >


	<label class="r-search-label control-label" for="{$labelfor_calculation_type}">
		{$label public_lbpmi_calculation_log calculation_type }	</label>
	<div class="r-search-option">
		{$searchtype_calculation_type}
	</div>
	<div class="r-search-field">
		{$calculation_type_editcontrol}	</div>
	<div class="r-search-field">
		{$calculation_type_editcontrol1}
	</div>
	
</div>

{END calculation_type_fieldblock}
											
{BEGIN period_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="period_type" data-fieldname="period_type" >


	<label class="r-search-label control-label" for="{$labelfor_period_type}">
		{$label public_lbpmi_calculation_log period_type }	</label>
	<div class="r-search-option">
		{$searchtype_period_type}
	</div>
	<div class="r-search-field">
		{$period_type_editcontrol}	</div>
	<div class="r-search-field">
		{$period_type_editcontrol1}
	</div>
	
</div>

{END period_type_fieldblock}
											
{BEGIN calculated_value_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calculated_value}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calculated_value{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="calculated_value" data-fieldname="calculated_value" >


	<label class="r-search-label control-label" for="{$labelfor_calculated_value}">
		{$label public_lbpmi_calculation_log calculated_value }	</label>
	<div class="r-search-option">
		{$searchtype_calculated_value}
	</div>
	<div class="r-search-field">
		{$calculated_value_editcontrol}	</div>
	<div class="r-search-field">
		{$calculated_value_editcontrol1}
	</div>
	
</div>

{END calculated_value_fieldblock}
											
{BEGIN calculation_timestamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calculation_timestamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calculation_timestamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="calculation_timestamp" data-fieldname="calculation_timestamp" >


	<label class="r-search-label control-label" for="{$labelfor_calculation_timestamp}">
		{$label public_lbpmi_calculation_log calculation_timestamp }	</label>
	<div class="r-search-option">
		{$searchtype_calculation_timestamp}
	</div>
	<div class="r-search-field">
		{$calculation_timestamp_editcontrol}	</div>
	<div class="r-search-field">
		{$calculation_timestamp_editcontrol1}
	</div>
	
</div>

{END calculation_timestamp_fieldblock}
											
{BEGIN status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >


	<label class="r-search-label control-label" for="{$labelfor_status}">
		{$label public_lbpmi_calculation_log status }	</label>
	<div class="r-search-option">
		{$searchtype_status}
	</div>
	<div class="r-search-field">
		{$status_editcontrol}	</div>
	<div class="r-search-field">
		{$status_editcontrol1}
	</div>
	
</div>

{END status_fieldblock}
											
{BEGIN error_message_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_error_message}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="error_message{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="error_message" data-fieldname="error_message" >


	<label class="r-search-label control-label" for="{$labelfor_error_message}">
		{$label public_lbpmi_calculation_log error_message }	</label>
	<div class="r-search-option">
		{$searchtype_error_message}
	</div>
	<div class="r-search-field">
		{$error_message_editcontrol}	</div>
	<div class="r-search-field">
		{$error_message_editcontrol1}
	</div>
	
</div>

{END error_message_fieldblock}
											
{BEGIN data_element_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_element_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="data_element_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="data_element_id" data-fieldname="data_element_id" >


	<label class="r-search-label control-label" for="{$labelfor_data_element_id}">
		{$label public_lbpmi_calculation_log data_element_id }	</label>
	<div class="r-search-option">
		{$searchtype_data_element_id}
	</div>
	<div class="r-search-field">
		{$data_element_id_editcontrol}	</div>
	<div class="r-search-field">
		{$data_element_id_editcontrol1}
	</div>
	
</div>

{END data_element_id_fieldblock}
											
{BEGIN period_year_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_year}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_year{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="period_year" data-fieldname="period_year" >


	<label class="r-search-label control-label" for="{$labelfor_period_year}">
		{$label public_lbpmi_calculation_log period_year }	</label>
	<div class="r-search-option">
		{$searchtype_period_year}
	</div>
	<div class="r-search-field">
		{$period_year_editcontrol}	</div>
	<div class="r-search-field">
		{$period_year_editcontrol1}
	</div>
	
</div>

{END period_year_fieldblock}
											
{BEGIN period_quarter_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_quarter}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_quarter{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="period_quarter" data-fieldname="period_quarter" >


	<label class="r-search-label control-label" for="{$labelfor_period_quarter}">
		{$label public_lbpmi_calculation_log period_quarter }	</label>
	<div class="r-search-option">
		{$searchtype_period_quarter}
	</div>
	<div class="r-search-field">
		{$period_quarter_editcontrol}	</div>
	<div class="r-search-field">
		{$period_quarter_editcontrol1}
	</div>
	
</div>

{END period_quarter_fieldblock}
											
{BEGIN period_month_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_month}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_month{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="period_month" data-fieldname="period_month" >


	<label class="r-search-label control-label" for="{$labelfor_period_month}">
		{$label public_lbpmi_calculation_log period_month }	</label>
	<div class="r-search-option">
		{$searchtype_period_month}
	</div>
	<div class="r-search-field">
		{$period_month_editcontrol}	</div>
	<div class="r-search-field">
		{$period_month_editcontrol1}
	</div>
	
</div>

{END period_month_fieldblock}
											
{BEGIN region_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_region_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="region_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="region_id" data-fieldname="region_id" >


	<label class="r-search-label control-label" for="{$labelfor_region_id}">
		{$label public_lbpmi_calculation_log region_id }	</label>
	<div class="r-search-option">
		{$searchtype_region_id}
	</div>
	<div class="r-search-field">
		{$region_id_editcontrol}	</div>
	<div class="r-search-field">
		{$region_id_editcontrol1}
	</div>
	
</div>

{END region_id_fieldblock}
											
{BEGIN country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="country_id" data-fieldname="country_id" >


	<label class="r-search-label control-label" for="{$labelfor_country_id}">
		{$label public_lbpmi_calculation_log country_id }	</label>
	<div class="r-search-option">
		{$searchtype_country_id}
	</div>
	<div class="r-search-field">
		{$country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$country_id_editcontrol1}
	</div>
	
</div>

{END country_id_fieldblock}
											
{BEGIN facility_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >


	<label class="r-search-label control-label" for="{$labelfor_facility_id}">
		{$label public_lbpmi_calculation_log facility_id }	</label>
	<div class="r-search-option">
		{$searchtype_facility_id}
	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol1}
	</div>
	
</div>

{END facility_id_fieldblock}
											
{BEGIN execution_time_ms_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_execution_time_ms}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="execution_time_ms{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="execution_time_ms" data-fieldname="execution_time_ms" >


	<label class="r-search-label control-label" for="{$labelfor_execution_time_ms}">
		{$label public_lbpmi_calculation_log execution_time_ms }	</label>
	<div class="r-search-option">
		{$searchtype_execution_time_ms}
	</div>
	<div class="r-search-field">
		{$execution_time_ms_editcontrol}	</div>
	<div class="r-search-field">
		{$execution_time_ms_editcontrol1}
	</div>
	
</div>

{END execution_time_ms_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
