<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_lbpmi_summary search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN indicator_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indicator_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="indicator_id" data-fieldname="indicator_id" >


	<label class="r-search-label control-label" for="{$labelfor_indicator_id}">
		{$label public_lbpmi_summary indicator_id }	</label>
	<div class="r-search-option">
		{$searchtype_indicator_id}
	</div>
	<div class="r-search-field">
		{$indicator_id_editcontrol}	</div>
	<div class="r-search-field">
		{$indicator_id_editcontrol1}
	</div>
	
</div>

{END indicator_id_fieldblock}
											
{BEGIN indicator_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indicator_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="indicator_name" data-fieldname="indicator_name" >


	<label class="r-search-label control-label" for="{$labelfor_indicator_name}">
		{$label public_lbpmi_summary indicator_name }	</label>
	<div class="r-search-option">
		{$searchtype_indicator_name}
	</div>
	<div class="r-search-field">
		{$indicator_name_editcontrol}	</div>
	<div class="r-search-field">
		{$indicator_name_editcontrol1}
	</div>
	
</div>

{END indicator_name_fieldblock}
											
{BEGIN indicator_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indicator_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="indicator_type" data-fieldname="indicator_type" >


	<label class="r-search-label control-label" for="{$labelfor_indicator_type}">
		{$label public_lbpmi_summary indicator_type }	</label>
	<div class="r-search-option">
		{$searchtype_indicator_type}
	</div>
	<div class="r-search-field">
		{$indicator_type_editcontrol}	</div>
	<div class="r-search-field">
		{$indicator_type_editcontrol1}
	</div>
	
</div>

{END indicator_type_fieldblock}
											
{BEGIN formula_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_formula}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="formula{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="formula" data-fieldname="formula" >


	<label class="r-search-label control-label" for="{$labelfor_formula}">
		{$label public_lbpmi_summary formula }	</label>
	<div class="r-search-option">
		{$searchtype_formula}
	</div>
	<div class="r-search-field">
		{$formula_editcontrol}	</div>
	<div class="r-search-field">
		{$formula_editcontrol1}
	</div>
	
</div>

{END formula_fieldblock}
											
{BEGIN indicator_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_code}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indicator_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="indicator_code" data-fieldname="indicator_code" >


	<label class="r-search-label control-label" for="{$labelfor_indicator_code}">
		{$label public_lbpmi_summary indicator_code }	</label>
	<div class="r-search-option">
		{$searchtype_indicator_code}
	</div>
	<div class="r-search-field">
		{$indicator_code_editcontrol}	</div>
	<div class="r-search-field">
		{$indicator_code_editcontrol1}
	</div>
	
</div>

{END indicator_code_fieldblock}
											
{BEGIN period_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="period_type" data-fieldname="period_type" >


	<label class="r-search-label control-label" for="{$labelfor_period_type}">
		{$label public_lbpmi_summary period_type }	</label>
	<div class="r-search-option">
		{$searchtype_period_type}
	</div>
	<div class="r-search-field">
		{$period_type_editcontrol}	</div>
	<div class="r-search-field">
		{$period_type_editcontrol1}
	</div>
	
</div>

{END period_type_fieldblock}
											
{BEGIN period_year_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_year}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_year{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="period_year" data-fieldname="period_year" >


	<label class="r-search-label control-label" for="{$labelfor_period_year}">
		{$label public_lbpmi_summary period_year }	</label>
	<div class="r-search-option">
		{$searchtype_period_year}
	</div>
	<div class="r-search-field">
		{$period_year_editcontrol}	</div>
	<div class="r-search-field">
		{$period_year_editcontrol1}
	</div>
	
</div>

{END period_year_fieldblock}
											
{BEGIN period_quarter_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_quarter}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_quarter{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="period_quarter" data-fieldname="period_quarter" >


	<label class="r-search-label control-label" for="{$labelfor_period_quarter}">
		{$label public_lbpmi_summary period_quarter }	</label>
	<div class="r-search-option">
		{$searchtype_period_quarter}
	</div>
	<div class="r-search-field">
		{$period_quarter_editcontrol}	</div>
	<div class="r-search-field">
		{$period_quarter_editcontrol1}
	</div>
	
</div>

{END period_quarter_fieldblock}
											
{BEGIN period_month_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_month}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_month{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="period_month" data-fieldname="period_month" >


	<label class="r-search-label control-label" for="{$labelfor_period_month}">
		{$label public_lbpmi_summary period_month }	</label>
	<div class="r-search-option">
		{$searchtype_period_month}
	</div>
	<div class="r-search-field">
		{$period_month_editcontrol}	</div>
	<div class="r-search-field">
		{$period_month_editcontrol1}
	</div>
	
</div>

{END period_month_fieldblock}
											
{BEGIN region_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_region_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="region_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="region_id" data-fieldname="region_id" >


	<label class="r-search-label control-label" for="{$labelfor_region_id}">
		{$label public_lbpmi_summary region_id }	</label>
	<div class="r-search-option">
		{$searchtype_region_id}
	</div>
	<div class="r-search-field">
		{$region_id_editcontrol}	</div>
	<div class="r-search-field">
		{$region_id_editcontrol1}
	</div>
	
</div>

{END region_id_fieldblock}
											
{BEGIN region_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_region_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="region_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="region_name" data-fieldname="region_name" >


	<label class="r-search-label control-label" for="{$labelfor_region_name}">
		{$label public_lbpmi_summary region_name }	</label>
	<div class="r-search-option">
		{$searchtype_region_name}
	</div>
	<div class="r-search-field">
		{$region_name_editcontrol}	</div>
	<div class="r-search-field">
		{$region_name_editcontrol1}
	</div>
	
</div>

{END region_name_fieldblock}
											
{BEGIN country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="country_id" data-fieldname="country_id" >


	<label class="r-search-label control-label" for="{$labelfor_country_id}">
		{$label public_lbpmi_summary country_id }	</label>
	<div class="r-search-option">
		{$searchtype_country_id}
	</div>
	<div class="r-search-field">
		{$country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$country_id_editcontrol1}
	</div>
	
</div>

{END country_id_fieldblock}
											
{BEGIN country_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="country_name" data-fieldname="country_name" >


	<label class="r-search-label control-label" for="{$labelfor_country_name}">
		{$label public_lbpmi_summary country_name }	</label>
	<div class="r-search-option">
		{$searchtype_country_name}
	</div>
	<div class="r-search-field">
		{$country_name_editcontrol}	</div>
	<div class="r-search-field">
		{$country_name_editcontrol1}
	</div>
	
</div>

{END country_name_fieldblock}
											
{BEGIN facility_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >


	<label class="r-search-label control-label" for="{$labelfor_facility_id}">
		{$label public_lbpmi_summary facility_id }	</label>
	<div class="r-search-option">
		{$searchtype_facility_id}
	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol1}
	</div>
	
</div>

{END facility_id_fieldblock}
											
{BEGIN facility_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="facility_name" data-fieldname="facility_name" >


	<label class="r-search-label control-label" for="{$labelfor_facility_name}">
		{$label public_lbpmi_summary facility_name }	</label>
	<div class="r-search-option">
		{$searchtype_facility_name}
	</div>
	<div class="r-search-field">
		{$facility_name_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_name_editcontrol1}
	</div>
	
</div>

{END facility_name_fieldblock}
											
{BEGIN actual_value_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_actual_value}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="actual_value{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="actual_value" data-fieldname="actual_value" >


	<label class="r-search-label control-label" for="{$labelfor_actual_value}">
		{$label public_lbpmi_summary actual_value }	</label>
	<div class="r-search-option">
		{$searchtype_actual_value}
	</div>
	<div class="r-search-field">
		{$actual_value_editcontrol}	</div>
	<div class="r-search-field">
		{$actual_value_editcontrol1}
	</div>
	
</div>

{END actual_value_fieldblock}
											
{BEGIN target_value_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_target_value}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="target_value{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="target_value" data-fieldname="target_value" >


	<label class="r-search-label control-label" for="{$labelfor_target_value}">
		{$label public_lbpmi_summary target_value }	</label>
	<div class="r-search-option">
		{$searchtype_target_value}
	</div>
	<div class="r-search-field">
		{$target_value_editcontrol}	</div>
	<div class="r-search-field">
		{$target_value_editcontrol1}
	</div>
	
</div>

{END target_value_fieldblock}
											
{BEGIN variance_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_variance}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="variance{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="variance" data-fieldname="variance" >


	<label class="r-search-label control-label" for="{$labelfor_variance}">
		{$label public_lbpmi_summary variance }	</label>
	<div class="r-search-option">
		{$searchtype_variance}
	</div>
	<div class="r-search-field">
		{$variance_editcontrol}	</div>
	<div class="r-search-field">
		{$variance_editcontrol1}
	</div>
	
</div>

{END variance_fieldblock}
											
{BEGIN variance_percentage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_variance_percentage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="variance_percentage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="variance_percentage" data-fieldname="variance_percentage" >


	<label class="r-search-label control-label" for="{$labelfor_variance_percentage}">
		{$label public_lbpmi_summary variance_percentage }	</label>
	<div class="r-search-option">
		{$searchtype_variance_percentage}
	</div>
	<div class="r-search-field">
		{$variance_percentage_editcontrol}	</div>
	<div class="r-search-field">
		{$variance_percentage_editcontrol1}
	</div>
	
</div>

{END variance_percentage_fieldblock}
											
{BEGIN calculation_timestamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calculation_timestamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calculation_timestamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="calculation_timestamp" data-fieldname="calculation_timestamp" >


	<label class="r-search-label control-label" for="{$labelfor_calculation_timestamp}">
		{$label public_lbpmi_summary calculation_timestamp }	</label>
	<div class="r-search-option">
		{$searchtype_calculation_timestamp}
	</div>
	<div class="r-search-field">
		{$calculation_timestamp_editcontrol}	</div>
	<div class="r-search-field">
		{$calculation_timestamp_editcontrol1}
	</div>
	
</div>

{END calculation_timestamp_fieldblock}
											
{BEGIN is_calculated_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_calculated}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_calculated{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="is_calculated" data-fieldname="is_calculated" >


	<label class="r-search-label control-label" for="{$labelfor_is_calculated}">
		{$label public_lbpmi_summary is_calculated }	</label>
	<div class="r-search-option">
		{$searchtype_is_calculated}
	</div>
	<div class="r-search-field">
		{$is_calculated_editcontrol}	</div>
	<div class="r-search-field">
		{$is_calculated_editcontrol1}
	</div>
	
</div>

{END is_calculated_fieldblock}
											
{BEGIN decimals_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_decimals}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="decimals{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="decimals" data-fieldname="decimals" >


	<label class="r-search-label control-label" for="{$labelfor_decimals}">
		{$label public_lbpmi_summary decimals }	</label>
	<div class="r-search-option">
		{$searchtype_decimals}
	</div>
	<div class="r-search-field">
		{$decimals_editcontrol}	</div>
	<div class="r-search-field">
		{$decimals_editcontrol1}
	</div>
	
</div>

{END decimals_fieldblock}
											
{BEGIN annualized_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_annualized}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="annualized{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="annualized" data-fieldname="annualized" >


	<label class="r-search-label control-label" for="{$labelfor_annualized}">
		{$label public_lbpmi_summary annualized }	</label>
	<div class="r-search-option">
		{$searchtype_annualized}
	</div>
	<div class="r-search-field">
		{$annualized_editcontrol}	</div>
	<div class="r-search-field">
		{$annualized_editcontrol1}
	</div>
	
</div>

{END annualized_fieldblock}
											
{BEGIN data_completeness_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_completeness}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="data_completeness{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="data_completeness" data-fieldname="data_completeness" >


	<label class="r-search-label control-label" for="{$labelfor_data_completeness}">
		{$label public_lbpmi_summary data_completeness }	</label>
	<div class="r-search-option">
		{$searchtype_data_completeness}
	</div>
	<div class="r-search-field">
		{$data_completeness_editcontrol}	</div>
	<div class="r-search-field">
		{$data_completeness_editcontrol1}
	</div>
	
</div>

{END data_completeness_fieldblock}
											
{BEGIN performance_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_performance_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="performance_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="performance_status" data-fieldname="performance_status" >


	<label class="r-search-label control-label" for="{$labelfor_performance_status}">
		{$label public_lbpmi_summary performance_status }	</label>
	<div class="r-search-option">
		{$searchtype_performance_status}
	</div>
	<div class="r-search-field">
		{$performance_status_editcontrol}	</div>
	<div class="r-search-field">
		{$performance_status_editcontrol1}
	</div>
	
</div>

{END performance_status_fieldblock}
											
{BEGIN overall_completion_percentage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_overall_completion_percentage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="overall_completion_percentage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="overall_completion_percentage" data-fieldname="overall_completion_percentage" >


	<label class="r-search-label control-label" for="{$labelfor_overall_completion_percentage}">
		{$label public_lbpmi_summary overall_completion_percentage }	</label>
	<div class="r-search-option">
		{$searchtype_overall_completion_percentage}
	</div>
	<div class="r-search-field">
		{$overall_completion_percentage_editcontrol}	</div>
	<div class="r-search-field">
		{$overall_completion_percentage_editcontrol1}
	</div>
	
</div>

{END overall_completion_percentage_fieldblock}
											
{BEGIN actual_value_completion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_actual_value_completion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="actual_value_completion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="actual_value_completion" data-fieldname="actual_value_completion" >


	<label class="r-search-label control-label" for="{$labelfor_actual_value_completion}">
		{$label public_lbpmi_summary actual_value_completion }	</label>
	<div class="r-search-option">
		{$searchtype_actual_value_completion}
	</div>
	<div class="r-search-field">
		{$actual_value_completion_editcontrol}	</div>
	<div class="r-search-field">
		{$actual_value_completion_editcontrol1}
	</div>
	
</div>

{END actual_value_completion_fieldblock}
											
{BEGIN target_value_completion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_target_value_completion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="target_value_completion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="target_value_completion" data-fieldname="target_value_completion" >


	<label class="r-search-label control-label" for="{$labelfor_target_value_completion}">
		{$label public_lbpmi_summary target_value_completion }	</label>
	<div class="r-search-option">
		{$searchtype_target_value_completion}
	</div>
	<div class="r-search-field">
		{$target_value_completion_editcontrol}	</div>
	<div class="r-search-field">
		{$target_value_completion_editcontrol1}
	</div>
	
</div>

{END target_value_completion_fieldblock}
											
{BEGIN completion_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_completion_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="completion_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="completion_status" data-fieldname="completion_status" >


	<label class="r-search-label control-label" for="{$labelfor_completion_status}">
		{$label public_lbpmi_summary completion_status }	</label>
	<div class="r-search-option">
		{$searchtype_completion_status}
	</div>
	<div class="r-search-field">
		{$completion_status_editcontrol}	</div>
	<div class="r-search-field">
		{$completion_status_editcontrol1}
	</div>
	
</div>

{END completion_status_fieldblock}
											
{BEGIN is_actual_missing_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_actual_missing}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_actual_missing{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="is_actual_missing" data-fieldname="is_actual_missing" >


	<label class="r-search-label control-label" for="{$labelfor_is_actual_missing}">
		{$label public_lbpmi_summary is_actual_missing }	</label>
	<div class="r-search-option">
		{$searchtype_is_actual_missing}
	</div>
	<div class="r-search-field">
		{$is_actual_missing_editcontrol}	</div>
	<div class="r-search-field">
		{$is_actual_missing_editcontrol1}
	</div>
	
</div>

{END is_actual_missing_fieldblock}
											
{BEGIN is_target_missing_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_target_missing}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_target_missing{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="is_target_missing" data-fieldname="is_target_missing" >


	<label class="r-search-label control-label" for="{$labelfor_is_target_missing}">
		{$label public_lbpmi_summary is_target_missing }	</label>
	<div class="r-search-option">
		{$searchtype_is_target_missing}
	</div>
	<div class="r-search-field">
		{$is_target_missing_editcontrol}	</div>
	<div class="r-search-field">
		{$is_target_missing_editcontrol1}
	</div>
	
</div>

{END is_target_missing_fieldblock}
											
{BEGIN data_freshness_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_freshness}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="data_freshness{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="data_freshness" data-fieldname="data_freshness" >


	<label class="r-search-label control-label" for="{$labelfor_data_freshness}">
		{$label public_lbpmi_summary data_freshness }	</label>
	<div class="r-search-option">
		{$searchtype_data_freshness}
	</div>
	<div class="r-search-field">
		{$data_freshness_editcontrol}	</div>
	<div class="r-search-field">
		{$data_freshness_editcontrol1}
	</div>
	
</div>

{END data_freshness_fieldblock}
											
{BEGIN days_since_last_calculation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_days_since_last_calculation}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="days_since_last_calculation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="days_since_last_calculation" data-fieldname="days_since_last_calculation" >


	<label class="r-search-label control-label" for="{$labelfor_days_since_last_calculation}">
		{$label public_lbpmi_summary days_since_last_calculation }	</label>
	<div class="r-search-option">
		{$searchtype_days_since_last_calculation}
	</div>
	<div class="r-search-field">
		{$days_since_last_calculation_editcontrol}	</div>
	<div class="r-search-field">
		{$days_since_last_calculation_editcontrol1}
	</div>
	
</div>

{END days_since_last_calculation_fieldblock}
											
{BEGIN performance_percentage_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_performance_percentage}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="performance_percentage{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="performance_percentage" data-fieldname="performance_percentage" >


	<label class="r-search-label control-label" for="{$labelfor_performance_percentage}">
		{$label public_lbpmi_summary performance_percentage }	</label>
	<div class="r-search-option">
		{$searchtype_performance_percentage}
	</div>
	<div class="r-search-field">
		{$performance_percentage_editcontrol}	</div>
	<div class="r-search-field">
		{$performance_percentage_editcontrol1}
	</div>
	
</div>

{END performance_percentage_fieldblock}
											
{BEGIN data_quality_flag_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_quality_flag}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="data_quality_flag{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="data_quality_flag" data-fieldname="data_quality_flag" >


	<label class="r-search-label control-label" for="{$labelfor_data_quality_flag}">
		{$label public_lbpmi_summary data_quality_flag }	</label>
	<div class="r-search-option">
		{$searchtype_data_quality_flag}
	</div>
	<div class="r-search-field">
		{$data_quality_flag_editcontrol}	</div>
	<div class="r-search-field">
		{$data_quality_flag_editcontrol1}
	</div>
	
</div>

{END data_quality_flag_fieldblock}
											
{BEGIN data_hierarchy_level_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_hierarchy_level}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="data_hierarchy_level{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="data_hierarchy_level" data-fieldname="data_hierarchy_level" >


	<label class="r-search-label control-label" for="{$labelfor_data_hierarchy_level}">
		{$label public_lbpmi_summary data_hierarchy_level }	</label>
	<div class="r-search-option">
		{$searchtype_data_hierarchy_level}
	</div>
	<div class="r-search-field">
		{$data_hierarchy_level_editcontrol}	</div>
	<div class="r-search-field">
		{$data_hierarchy_level_editcontrol1}
	</div>
	
</div>

{END data_hierarchy_level_fieldblock}
											
{BEGIN period_completeness_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_completeness}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_completeness{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="period_completeness" data-fieldname="period_completeness" >


	<label class="r-search-label control-label" for="{$labelfor_period_completeness}">
		{$label public_lbpmi_summary period_completeness }	</label>
	<div class="r-search-option">
		{$searchtype_period_completeness}
	</div>
	<div class="r-search-field">
		{$period_completeness_editcontrol}	</div>
	<div class="r-search-field">
		{$period_completeness_editcontrol1}
	</div>
	
</div>

{END period_completeness_fieldblock}
											
{BEGIN calculation_method_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calculation_method}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calculation_method{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="calculation_method" data-fieldname="calculation_method" >


	<label class="r-search-label control-label" for="{$labelfor_calculation_method}">
		{$label public_lbpmi_summary calculation_method }	</label>
	<div class="r-search-option">
		{$searchtype_calculation_method}
	</div>
	<div class="r-search-field">
		{$calculation_method_editcontrol}	</div>
	<div class="r-search-field">
		{$calculation_method_editcontrol1}
	</div>
	
</div>

{END calculation_method_fieldblock}
											
{BEGIN formula_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_formula_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="formula_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="formula_type" data-fieldname="formula_type" >


	<label class="r-search-label control-label" for="{$labelfor_formula_type}">
		{$label public_lbpmi_summary formula_type }	</label>
	<div class="r-search-option">
		{$searchtype_formula_type}
	</div>
	<div class="r-search-field">
		{$formula_type_editcontrol}	</div>
	<div class="r-search-field">
		{$formula_type_editcontrol1}
	</div>
	
</div>

{END formula_type_fieldblock}
											
{BEGIN org_unit_validity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_org_unit_validity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="org_unit_validity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="org_unit_validity" data-fieldname="org_unit_validity" >


	<label class="r-search-label control-label" for="{$labelfor_org_unit_validity}">
		{$label public_lbpmi_summary org_unit_validity }	</label>
	<div class="r-search-option">
		{$searchtype_org_unit_validity}
	</div>
	<div class="r-search-field">
		{$org_unit_validity_editcontrol}	</div>
	<div class="r-search-field">
		{$org_unit_validity_editcontrol1}
	</div>
	
</div>

{END org_unit_validity_fieldblock}
											
{BEGIN period_validity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period_validity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period_validity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="period_validity" data-fieldname="period_validity" >


	<label class="r-search-label control-label" for="{$labelfor_period_validity}">
		{$label public_lbpmi_summary period_validity }	</label>
	<div class="r-search-option">
		{$searchtype_period_validity}
	</div>
	<div class="r-search-field">
		{$period_validity_editcontrol}	</div>
	<div class="r-search-field">
		{$period_validity_editcontrol1}
	</div>
	
</div>

{END period_validity_fieldblock}
											
{BEGIN legacy_performance_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_legacy_performance_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="legacy_performance_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="legacy_performance_status" data-fieldname="legacy_performance_status" >


	<label class="r-search-label control-label" for="{$labelfor_legacy_performance_status}">
		{$label public_lbpmi_summary legacy_performance_status }	</label>
	<div class="r-search-option">
		{$searchtype_legacy_performance_status}
	</div>
	<div class="r-search-field">
		{$legacy_performance_status_editcontrol}	</div>
	<div class="r-search-field">
		{$legacy_performance_status_editcontrol1}
	</div>
	
</div>

{END legacy_performance_status_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
