<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message EXPAND}" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message SHOW_MENU}" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message COLLAPSE}" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				{mlang_message NOTIFICATIONS}			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		{% if (o.newWindow ) { %} 
			target="_blank"
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$mlp_push}{$mlparam username var username}{$mltext %username%}{$mlp_pop}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		{mlang_message AA_ADMINAREA}		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel public_lbpmi_calculation_jobs view}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN job_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_job_id}  r-vertical-field" 
	data-signal-error-for="job_id{$id}" {$required_attr_job_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="job_id" data-fieldname="job_id" >

	<label class="r-edit-label control-label {$job_id_label_class}" for="{$labelfor_job_id}">
		{BEGIN job_id_label}
			{$job_id_forward_control}
			{$label public_lbpmi_calculation_jobs job_id }			{END job_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$job_id_value}	</div>
	</div>


{END job_id_fieldblock}
											
{BEGIN indicator_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_indicator_id}  r-vertical-field" 
	data-signal-error-for="indicator_id{$id}" {$required_attr_indicator_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="indicator_id" data-fieldname="indicator_id" >

	<label class="r-edit-label control-label {$indicator_id_label_class}" for="{$labelfor_indicator_id}">
		{BEGIN indicator_id_label}
			{$indicator_id_forward_control}
			{$label public_lbpmi_calculation_jobs indicator_id }			{END indicator_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$indicator_id_value}	</div>
	</div>


{END indicator_id_fieldblock}
											
{BEGIN status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-vertical-field" 
	data-signal-error-for="status{$id}" {$required_attr_status}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >

	<label class="r-edit-label control-label {$status_label_class}" for="{$labelfor_status}">
		{BEGIN status_label}
			{$status_forward_control}
			{$label public_lbpmi_calculation_jobs status }			{END status_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$status_value}	</div>
	</div>


{END status_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label public_lbpmi_calculation_jobs created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_value}	</div>
	</div>


{END created_at_fieldblock}
											
{BEGIN processed_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_processed_at}  r-vertical-field" 
	data-signal-error-for="processed_at{$id}" {$required_attr_processed_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="processed_at" data-fieldname="processed_at" >

	<label class="r-edit-label control-label {$processed_at_label_class}" for="{$labelfor_processed_at}">
		{BEGIN processed_at_label}
			{$processed_at_forward_control}
			{$label public_lbpmi_calculation_jobs processed_at }			{END processed_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$processed_at_value}	</div>
	</div>


{END processed_at_fieldblock}
											
{BEGIN error_message_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_error_message}  r-vertical-field" 
	data-signal-error-for="error_message{$id}" {$required_attr_error_message}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="error_message" data-fieldname="error_message" >

	<label class="r-edit-label control-label {$error_message_label_class}" for="{$labelfor_error_message}">
		{BEGIN error_message_label}
			{$error_message_forward_control}
			{$label public_lbpmi_calculation_jobs error_message }			{END error_message_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$error_message_value}	</div>
	</div>


{END error_message_fieldblock}
											
{BEGIN data_element_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_data_element_id}  r-vertical-field" 
	data-signal-error-for="data_element_id{$id}" {$required_attr_data_element_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="data_element_id" data-fieldname="data_element_id" >

	<label class="r-edit-label control-label {$data_element_id_label_class}" for="{$labelfor_data_element_id}">
		{BEGIN data_element_id_label}
			{$data_element_id_forward_control}
			{$label public_lbpmi_calculation_jobs data_element_id }			{END data_element_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$data_element_id_value}	</div>
	</div>


{END data_element_id_fieldblock}
											
{BEGIN period_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_period_type}  r-vertical-field" 
	data-signal-error-for="period_type{$id}" {$required_attr_period_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="period_type" data-fieldname="period_type" >

	<label class="r-edit-label control-label {$period_type_label_class}" for="{$labelfor_period_type}">
		{BEGIN period_type_label}
			{$period_type_forward_control}
			{$label public_lbpmi_calculation_jobs period_type }			{END period_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$period_type_value}	</div>
	</div>


{END period_type_fieldblock}
											
{BEGIN period_year_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_period_year}  r-vertical-field" 
	data-signal-error-for="period_year{$id}" {$required_attr_period_year}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="period_year" data-fieldname="period_year" >

	<label class="r-edit-label control-label {$period_year_label_class}" for="{$labelfor_period_year}">
		{BEGIN period_year_label}
			{$period_year_forward_control}
			{$label public_lbpmi_calculation_jobs period_year }			{END period_year_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$period_year_value}	</div>
	</div>


{END period_year_fieldblock}
											
{BEGIN period_quarter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_period_quarter}  r-vertical-field" 
	data-signal-error-for="period_quarter{$id}" {$required_attr_period_quarter}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="period_quarter" data-fieldname="period_quarter" >

	<label class="r-edit-label control-label {$period_quarter_label_class}" for="{$labelfor_period_quarter}">
		{BEGIN period_quarter_label}
			{$period_quarter_forward_control}
			{$label public_lbpmi_calculation_jobs period_quarter }			{END period_quarter_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$period_quarter_value}	</div>
	</div>


{END period_quarter_fieldblock}
											
{BEGIN period_month_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_period_month}  r-vertical-field" 
	data-signal-error-for="period_month{$id}" {$required_attr_period_month}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="period_month" data-fieldname="period_month" >

	<label class="r-edit-label control-label {$period_month_label_class}" for="{$labelfor_period_month}">
		{BEGIN period_month_label}
			{$period_month_forward_control}
			{$label public_lbpmi_calculation_jobs period_month }			{END period_month_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$period_month_value}	</div>
	</div>


{END period_month_fieldblock}
											
{BEGIN region_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_region_id}  r-vertical-field" 
	data-signal-error-for="region_id{$id}" {$required_attr_region_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="region_id" data-fieldname="region_id" >

	<label class="r-edit-label control-label {$region_id_label_class}" for="{$labelfor_region_id}">
		{BEGIN region_id_label}
			{$region_id_forward_control}
			{$label public_lbpmi_calculation_jobs region_id }			{END region_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$region_id_value}	</div>
	</div>


{END region_id_fieldblock}
											
{BEGIN country_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country_id}  r-vertical-field" 
	data-signal-error-for="country_id{$id}" {$required_attr_country_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="country_id" data-fieldname="country_id" >

	<label class="r-edit-label control-label {$country_id_label_class}" for="{$labelfor_country_id}">
		{BEGIN country_id_label}
			{$country_id_forward_control}
			{$label public_lbpmi_calculation_jobs country_id }			{END country_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_id_value}	</div>
	</div>


{END country_id_fieldblock}
											
{BEGIN facility_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-vertical-field" 
	data-signal-error-for="facility_id{$id}" {$required_attr_facility_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >

	<label class="r-edit-label control-label {$facility_id_label_class}" for="{$labelfor_facility_id}">
		{BEGIN facility_id_label}
			{$facility_id_forward_control}
			{$label public_lbpmi_calculation_jobs facility_id }			{END facility_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$facility_id_value}	</div>
	</div>


{END facility_id_fieldblock}
											
{BEGIN priority_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_priority}  r-vertical-field" 
	data-signal-error-for="priority{$id}" {$required_attr_priority}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="priority" data-fieldname="priority" >

	<label class="r-edit-label control-label {$priority_label_class}" for="{$labelfor_priority}">
		{BEGIN priority_label}
			{$priority_forward_control}
			{$label public_lbpmi_calculation_jobs priority }			{END priority_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$priority_value}	</div>
	</div>


{END priority_fieldblock}
											
{BEGIN attempts_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_attempts}  r-vertical-field" 
	data-signal-error-for="attempts{$id}" {$required_attr_attempts}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="attempts" data-fieldname="attempts" >

	<label class="r-edit-label control-label {$attempts_label_class}" for="{$labelfor_attempts}">
		{BEGIN attempts_label}
			{$attempts_forward_control}
			{$label public_lbpmi_calculation_jobs attempts }			{END attempts_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$attempts_value}	</div>
	</div>


{END attempts_fieldblock}
											
{BEGIN next_retry_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_next_retry}  r-vertical-field" 
	data-signal-error-for="next_retry{$id}" {$required_attr_next_retry}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="next_retry" data-fieldname="next_retry" >

	<label class="r-edit-label control-label {$next_retry_label_class}" for="{$labelfor_next_retry}">
		{BEGIN next_retry_label}
			{$next_retry_forward_control}
			{$label public_lbpmi_calculation_jobs next_retry }			{END next_retry_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$next_retry_value}	</div>
	</div>


{END next_retry_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
