<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
<!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm  [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        (function() {
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = 'https://lifebox.merqconsultancy.org/analytics/js/container_DPKCUiEL.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->



    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq  [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifebox.merqconsultancy.org/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Lifebox_DHIS2_OrgUnits search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Continent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Continent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Continent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Continent" data-fieldname="Continent" >


	<label class="r-search-label control-label" for="{$labelfor_Continent}">
		{$label Lifebox_DHIS2_OrgUnits Continent }	</label>
	<div class="r-search-option">
		{$searchtype_Continent}
	</div>
	<div class="r-search-field">
		{$Continent_editcontrol}	</div>
	<div class="r-search-field">
		{$Continent_editcontrol1}
	</div>
	
</div>

{END Continent_fieldblock}
											
{BEGIN Country_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Country}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Country{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Country" data-fieldname="Country" >


	<label class="r-search-label control-label" for="{$labelfor_Country}">
		{$label Lifebox_DHIS2_OrgUnits Country }	</label>
	<div class="r-search-option">
		{$searchtype_Country}
	</div>
	<div class="r-search-field">
		{$Country_editcontrol}	</div>
	<div class="r-search-field">
		{$Country_editcontrol1}
	</div>
	
</div>

{END Country_fieldblock}
											
{BEGIN Level_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Level}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Level{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Level" data-fieldname="Level" >


	<label class="r-search-label control-label" for="{$labelfor_Level}">
		{$label Lifebox_DHIS2_OrgUnits Level }	</label>
	<div class="r-search-option">
		{$searchtype_Level}
	</div>
	<div class="r-search-field">
		{$Level_editcontrol}	</div>
	<div class="r-search-field">
		{$Level_editcontrol1}
	</div>
	
</div>

{END Level_fieldblock}
											
{BEGIN LB_Int_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LB_Int_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="LB_Int_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="LB_Int_ID" data-fieldname="LB_Int_ID" >


	<label class="r-search-label control-label" for="{$labelfor_LB_Int_ID}">
		{$label Lifebox_DHIS2_OrgUnits LB_Int_ID }	</label>
	<div class="r-search-option">
		{$searchtype_LB_Int_ID}
	</div>
	<div class="r-search-field">
		{$LB_Int_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$LB_Int_ID_editcontrol1}
	</div>
	
</div>

{END LB_Int_ID_fieldblock}
											
{BEGIN LB_Int_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LB_Int}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="LB_Int{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="LB_Int" data-fieldname="LB_Int" >


	<label class="r-search-label control-label" for="{$labelfor_LB_Int}">
		{$label Lifebox_DHIS2_OrgUnits LB_Int }	</label>
	<div class="r-search-option">
		{$searchtype_LB_Int}
	</div>
	<div class="r-search-field">
		{$LB_Int_editcontrol}	</div>
	<div class="r-search-field">
		{$LB_Int_editcontrol1}
	</div>
	
</div>

{END LB_Int_fieldblock}
											
{BEGIN Cont_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cont_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Cont_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Cont_ID" data-fieldname="Cont_ID" >


	<label class="r-search-label control-label" for="{$labelfor_Cont_ID}">
		{$label Lifebox_DHIS2_OrgUnits Cont_ID }	</label>
	<div class="r-search-option">
		{$searchtype_Cont_ID}
	</div>
	<div class="r-search-field">
		{$Cont_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$Cont_ID_editcontrol1}
	</div>
	
</div>

{END Cont_ID_fieldblock}
											
{BEGIN Count_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Count_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Count_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Count_ID" data-fieldname="Count_ID" >


	<label class="r-search-label control-label" for="{$labelfor_Count_ID}">
		{$label Lifebox_DHIS2_OrgUnits Count_ID }	</label>
	<div class="r-search-option">
		{$searchtype_Count_ID}
	</div>
	<div class="r-search-field">
		{$Count_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$Count_ID_editcontrol1}
	</div>
	
</div>

{END Count_ID_fieldblock}
											
{BEGIN Hosp_Fac_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Hosp_Fac_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Hosp_Fac_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Hosp_Fac_ID" data-fieldname="Hosp_Fac_ID" >


	<label class="r-search-label control-label" for="{$labelfor_Hosp_Fac_ID}">
		{$label Lifebox_DHIS2_OrgUnits Hosp_Fac_ID }	</label>
	<div class="r-search-option">
		{$searchtype_Hosp_Fac_ID}
	</div>
	<div class="r-search-field">
		{$Hosp_Fac_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$Hosp_Fac_ID_editcontrol1}
	</div>
	
</div>

{END Hosp_Fac_ID_fieldblock}
											
{BEGIN Hospital_Facility_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Hospital_Facility}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Hospital_Facility{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Hospital_Facility" data-fieldname="Hospital_Facility" >


	<label class="r-search-label control-label" for="{$labelfor_Hospital_Facility}">
		{$label Lifebox_DHIS2_OrgUnits Hospital_Facility }	</label>
	<div class="r-search-option">
		{$searchtype_Hospital_Facility}
	</div>
	<div class="r-search-field">
		{$Hospital_Facility_editcontrol}	</div>
	<div class="r-search-field">
		{$Hospital_Facility_editcontrol1}
	</div>
	
</div>

{END Hospital_Facility_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
