<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list"   
			data-panel-bg
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="lifebox_dhis2_orgunits_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Export results		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="lifebox_dhis2_orgunits_import.php{$stateLink_full}"  title="" >
				
		Import		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
											<div class="r-grid"
			data-responsive
	>
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
	<div class="panel panel-default"
	>
		<div class="panel-heading">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c" data-pageid="{$pageid}"	{$cell_above-grid_c}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"			data-horizontal
	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_LB_Int_ID}


		<div class="form-group srchPanelRow {$filterRow_class_LB_Int_ID}" {$filterRow_attrs_LB_Int_ID}>
			<label>{$label Lifebox_DHIS2_OrgUnits LB_Int_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_LB_Int_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_LB_Int_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_LB_Int_ID}</span>
						</div>
		{END searchCtrlBlock_LB_Int_ID}
																{BEGIN searchCtrlBlock_LB_Int}


		<div class="form-group srchPanelRow {$filterRow_class_LB_Int}" {$filterRow_attrs_LB_Int}>
			<label>{$label Lifebox_DHIS2_OrgUnits LB_Int }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_LB_Int}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_LB_Int}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_LB_Int}</span>
						</div>
		{END searchCtrlBlock_LB_Int}
																{BEGIN searchCtrlBlock_Cont_ID}


		<div class="form-group srchPanelRow {$filterRow_class_Cont_ID}" {$filterRow_attrs_Cont_ID}>
			<label>{$label Lifebox_DHIS2_OrgUnits Cont_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Cont_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Cont_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Cont_ID}</span>
						</div>
		{END searchCtrlBlock_Cont_ID}
																{BEGIN searchCtrlBlock_Continent}


		<div class="form-group srchPanelRow {$filterRow_class_Continent}" {$filterRow_attrs_Continent}>
			<label>{$label Lifebox_DHIS2_OrgUnits Continent }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Continent}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Continent}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Continent}</span>
						</div>
		{END searchCtrlBlock_Continent}
																{BEGIN searchCtrlBlock_Count_ID}


		<div class="form-group srchPanelRow {$filterRow_class_Count_ID}" {$filterRow_attrs_Count_ID}>
			<label>{$label Lifebox_DHIS2_OrgUnits Count_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Count_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Count_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Count_ID}</span>
						</div>
		{END searchCtrlBlock_Count_ID}
																{BEGIN searchCtrlBlock_Country}


		<div class="form-group srchPanelRow {$filterRow_class_Country}" {$filterRow_attrs_Country}>
			<label>{$label Lifebox_DHIS2_OrgUnits Country }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Country}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Country}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Country}</span>
						</div>
		{END searchCtrlBlock_Country}
																{BEGIN searchCtrlBlock_Hosp_Fac_ID}


		<div class="form-group srchPanelRow {$filterRow_class_Hosp_Fac_ID}" {$filterRow_attrs_Hosp_Fac_ID}>
			<label>{$label Lifebox_DHIS2_OrgUnits Hosp_Fac_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Hosp_Fac_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Hosp_Fac_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Hosp_Fac_ID}</span>
						</div>
		{END searchCtrlBlock_Hosp_Fac_ID}
																{BEGIN searchCtrlBlock_Hospital_Facility}


		<div class="form-group srchPanelRow {$filterRow_class_Hospital_Facility}" {$filterRow_attrs_Hospital_Facility}>
			<label>{$label Lifebox_DHIS2_OrgUnits Hospital_Facility }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Hospital_Facility}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Hospital_Facility}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Hospital_Facility}</span>
						</div>
		{END searchCtrlBlock_Hospital_Facility}
																{BEGIN searchCtrlBlock_Level}


		<div class="form-group srchPanelRow {$filterRow_class_Level}" {$filterRow_attrs_Level}>
			<label>{$label Lifebox_DHIS2_OrgUnits Level }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Level}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Level}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Level}</span>
						</div>
		{END searchCtrlBlock_Level}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			{END firstAboveGridCell}	
	</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
			</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="lifebox_dhis2_orgunits_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Print all pages							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="lifebox_dhis2_orgunits_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
		
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Records Per Page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c4" data-pageid="{$pageid}"	{$cell_above-grid_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<div class="filterPanelContainer {$filterPanelStateClass}" 
					data-horizontal
			>
	<!-- Begin Filter panel content -->






{BEGIN filter_control_Continent}

	<div class="dropdown filter-field filter-Continent-container" {BEGIN filter_selected_Continent} data-selected {END filter_selected_Continent}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-Continent" type="checkbox" name="selectAll" {$selectAll_attrs_Continent} />
						{BEGIN clearLink_Continent}
			<a href="#" class="filter-clear filter-clear-Continent" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Continent}
			<span class="r-filter-field">{$label Lifebox_DHIS2_OrgUnits Continent }				{BEGIN filter_selected_Continent}:{END filter_selected_Continent}
			</span>
			{BEGIN filter_selected_Continent}
			<span class="r-filter-value">{$filtervalue_Continent}</span>
			{END filter_selected_Continent}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_Continent}
		<li class=" filter-values filter-values-Continent  {$visibilityClass_Continent}">
			{$Continent_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_Continent}

			{BEGIN filter_button_showmore_Continent}
		<li class=" filter-show-more {$collapsedClass_Continent} {$showMoreBtnClass_Continent}">
			<a class="filter-show-more-link filterShowMore_Continent" href="#">{$show_n_more_Continent}</a>
		</li>
		{END filter_button_showmore_Continent}
	


			{BEGIN filter_button_apply_Continent}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_Continent}">
			<a href="#" class="filter-btn-apply filter-apply-Continent" {$filterbutton_attrs_Continent}>Apply</a>
		</li>
		{END filter_button_apply_Continent}
	

			</ul>
	</div>

{END filter_control_Continent}






{BEGIN filter_control_Country}

	<div class="dropdown filter-field filter-Country-container" {BEGIN filter_selected_Country} data-selected {END filter_selected_Country}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-Country" type="checkbox" name="selectAll" {$selectAll_attrs_Country} />
						{BEGIN clearLink_Country}
			<a href="#" class="filter-clear filter-clear-Country" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Country}
			<span class="r-filter-field">{$label Lifebox_DHIS2_OrgUnits Country }				{BEGIN filter_selected_Country}:{END filter_selected_Country}
			</span>
			{BEGIN filter_selected_Country}
			<span class="r-filter-value">{$filtervalue_Country}</span>
			{END filter_selected_Country}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_Country}
		<li class=" filter-values filter-values-Country  {$visibilityClass_Country}">
			{$Country_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_Country}

			{BEGIN filter_button_showmore_Country}
		<li class=" filter-show-more {$collapsedClass_Country} {$showMoreBtnClass_Country}">
			<a class="filter-show-more-link filterShowMore_Country" href="#">{$show_n_more_Country}</a>
		</li>
		{END filter_button_showmore_Country}
	


			{BEGIN filter_button_apply_Country}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_Country}">
			<a href="#" class="filter-btn-apply filter-apply-Country" {$filterbutton_attrs_Country}>Apply</a>
		</li>
		{END filter_button_apply_Country}
	

			</ul>
	</div>

{END filter_control_Country}






{BEGIN filter_control_Hospital_Facility}

	<div class="dropdown filter-field filter-Hospital_Facility-container" {BEGIN filter_selected_Hospital_Facility} data-selected {END filter_selected_Hospital_Facility}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-Hospital_Facility" type="checkbox" name="selectAll" {$selectAll_attrs_Hospital_Facility} />
						{BEGIN clearLink_Hospital_Facility}
			<a href="#" class="filter-clear filter-clear-Hospital_Facility" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Hospital_Facility}
			<span class="r-filter-field">{$label Lifebox_DHIS2_OrgUnits Hospital_Facility }				{BEGIN filter_selected_Hospital_Facility}:{END filter_selected_Hospital_Facility}
			</span>
			{BEGIN filter_selected_Hospital_Facility}
			<span class="r-filter-value">{$filtervalue_Hospital_Facility}</span>
			{END filter_selected_Hospital_Facility}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_Hospital_Facility}
		<li class=" filter-values filter-values-Hospital_Facility  {$visibilityClass_Hospital_Facility}">
			{$Hospital_Facility_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_Hospital_Facility}

			{BEGIN filter_button_showmore_Hospital_Facility}
		<li class=" filter-show-more {$collapsedClass_Hospital_Facility} {$showMoreBtnClass_Hospital_Facility}">
			<a class="filter-show-more-link filterShowMore_Hospital_Facility" href="#">{$show_n_more_Hospital_Facility}</a>
		</li>
		{END filter_button_showmore_Hospital_Facility}
	


			{BEGIN filter_button_apply_Hospital_Facility}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_Hospital_Facility}">
			<a href="#" class="filter-btn-apply filter-apply-Hospital_Facility" {$filterbutton_attrs_Hospital_Facility}>Apply</a>
		</li>
		{END filter_button_apply_Hospital_Facility}
	

			</ul>
	</div>

{END filter_control_Hospital_Facility}






{BEGIN filter_control_Level}

	<div class="dropdown filter-field filter-Level-container" {BEGIN filter_selected_Level} data-selected {END filter_selected_Level}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-Level" type="checkbox" name="selectAll" {$selectAll_attrs_Level} />
						{BEGIN clearLink_Level}
			<a href="#" class="filter-clear filter-clear-Level" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_Level}
			<span class="r-filter-field">{$label Lifebox_DHIS2_OrgUnits Level }				{BEGIN filter_selected_Level}:{END filter_selected_Level}
			</span>
			{BEGIN filter_selected_Level}
			<span class="r-filter-value">{$filtervalue_Level}</span>
			{END filter_selected_Level}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_Level}
		<li class=" filter-values filter-values-Level  {$visibilityClass_Level}">
			{$Level_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_Level}

			{BEGIN filter_button_showmore_Level}
		<li class=" filter-show-more {$collapsedClass_Level} {$showMoreBtnClass_Level}">
			<a class="filter-show-more-link filterShowMore_Level" href="#">{$show_n_more_Level}</a>
		</li>
		{END filter_button_showmore_Level}
	


	

			{BEGIN filter_button_multiselect_Level}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_Level}">
			<a href="#" class="filter-Level-btn-multiselect filter-apply-Level" {$filterbutton_attrs_Level}>Multiselect</a>
		</li>
		{END filter_button_multiselect_Level}
			</ul>
	</div>

{END filter_control_Level}



	<!-- End Filter panel content -->
	</div>
</div>		</div>					</div>
			</div>		
{END above-grid_block}
			</div>

					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="LB_Int_ID"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits LB_Int_ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="LB_Int"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits LB_Int}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Cont_ID"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Cont_ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Continent"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Continent}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Count_ID"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Count_ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Country"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Country}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Hosp_Fac_ID"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Hosp_Fac_ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Hospital_Facility"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Hospital_Facility}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Level"]:before {
		content: "{$label Lifebox_DHIS2_OrgUnits Level}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_ID_class}	"

			data-field="LB_Int_ID"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LB_Int_ID_fieldheadercolumn}
	{BEGIN LB_Int_ID_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LB_Int_ID" data-fieldname="LB_Int_ID" 

			{$LB_Int_ID_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits LB_Int_ID }</span>
					{$arrow_icon_LB_Int_ID}
			</span>
	</span>
	{END LB_Int_ID_fieldheader}
{END LB_Int_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_class}	"

			data-field="LB_Int"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LB_Int_fieldheadercolumn}
	{BEGIN LB_Int_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LB_Int" data-fieldname="LB_Int" 

			{$LB_Int_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits LB_Int }</span>
					{$arrow_icon_LB_Int}
			</span>
	</span>
	{END LB_Int_fieldheader}
{END LB_Int_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cont_ID_class}	"

			data-field="Cont_ID"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cont_ID_fieldheadercolumn}
	{BEGIN Cont_ID_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cont_ID" data-fieldname="Cont_ID" 

			{$Cont_ID_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Cont_ID }</span>
					{$arrow_icon_Cont_ID}
			</span>
	</span>
	{END Cont_ID_fieldheader}
{END Cont_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Continent_class}	"

			data-field="Continent"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Continent_fieldheadercolumn}
	{BEGIN Continent_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Continent" data-fieldname="Continent" 

			{$Continent_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Continent }</span>
					{$arrow_icon_Continent}
			</span>
	</span>
	{END Continent_fieldheader}
{END Continent_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Count_ID_class}	"

			data-field="Count_ID"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Count_ID_fieldheadercolumn}
	{BEGIN Count_ID_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Count_ID" data-fieldname="Count_ID" 

			{$Count_ID_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Count_ID }</span>
					{$arrow_icon_Count_ID}
			</span>
	</span>
	{END Count_ID_fieldheader}
{END Count_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Country_class}	"

			data-field="Country"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Country_fieldheadercolumn}
	{BEGIN Country_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Country" data-fieldname="Country" 

			{$Country_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Country }</span>
					{$arrow_icon_Country}
			</span>
	</span>
	{END Country_fieldheader}
{END Country_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hosp_Fac_ID_class}	"

			data-field="Hosp_Fac_ID"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Hosp_Fac_ID_fieldheadercolumn}
	{BEGIN Hosp_Fac_ID_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Hosp_Fac_ID" data-fieldname="Hosp_Fac_ID" 

			{$Hosp_Fac_ID_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Hosp_Fac_ID }</span>
					{$arrow_icon_Hosp_Fac_ID}
			</span>
	</span>
	{END Hosp_Fac_ID_fieldheader}
{END Hosp_Fac_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hospital_Facility_class}	"

			data-field="Hospital_Facility"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Hospital_Facility_fieldheadercolumn}
	{BEGIN Hospital_Facility_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Hospital_Facility" data-fieldname="Hospital_Facility" 

			{$Hospital_Facility_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Hospital_Facility }</span>
					{$arrow_icon_Hospital_Facility}
			</span>
	</span>
	{END Hospital_Facility_fieldheader}
{END Hospital_Facility_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Level_class}	"

			data-field="Level"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Level_fieldheadercolumn}
	{BEGIN Level_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Level" data-fieldname="Level" 

			{$Level_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label Lifebox_DHIS2_OrgUnits Level }</span>
					{$arrow_icon_Level}
			</span>
	</span>
	{END Level_fieldheader}
{END Level_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_ID_class}	"

			data-field="LB_Int_ID"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LB_Int_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LB_Int_ID" data-fieldname="LB_Int_ID" data-default-width >
{$LB_Int_ID_value}
</span>
{END LB_Int_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_class}	"

			data-field="LB_Int"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LB_Int_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LB_Int" data-fieldname="LB_Int" data-default-width >
{$LB_Int_value}
</span>
{END LB_Int_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cont_ID_class}	"

			data-field="Cont_ID"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cont_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cont_ID" data-fieldname="Cont_ID" data-default-width >
{$Cont_ID_value}
</span>
{END Cont_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Continent_class}	"

			data-field="Continent"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Continent_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Continent" data-fieldname="Continent" data-default-width >
{$Continent_value}
</span>
{END Continent_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Count_ID_class}	"

			data-field="Count_ID"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Count_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Count_ID" data-fieldname="Count_ID" data-default-width >
{$Count_ID_value}
</span>
{END Count_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Country_class}	"

			data-field="Country"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Country_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Country" data-fieldname="Country" data-default-width >
{$Country_value}
</span>
{END Country_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hosp_Fac_ID_class}	"

			data-field="Hosp_Fac_ID"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Hosp_Fac_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Hosp_Fac_ID" data-fieldname="Hosp_Fac_ID" data-default-width >
{$Hosp_Fac_ID_value}
</span>
{END Hosp_Fac_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hospital_Facility_class}	"

			data-field="Hospital_Facility"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Hospital_Facility_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Hospital_Facility" data-fieldname="Hospital_Facility" data-default-width >
{$Hospital_Facility_value}
</span>
{END Hospital_Facility_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Level_class}	"

			data-field="Level"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Level_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Level" data-fieldname="Level" data-default-width >
{$Level_value}
</span>
{END Level_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_ID_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$LB_Int_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cont_ID_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Continent_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Count_ID_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Country_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hosp_Fac_ID_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Hospital_Facility_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Level_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="lifebox_dhis2_orgunits_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	
			{BEGIN below-grid_outerblock}
		<div class="panel-footer">
			{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
		</div>
	{END below-grid_outerblock}
		</div>

</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
