<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_partners search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN partner_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_partner_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="partner_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="partner_id" data-fieldname="partner_id" >


	<label class="r-search-label control-label" for="{$labelfor_partner_id}">
		{$label public_partners partner_id }	</label>
	<div class="r-search-option">
		{$searchtype_partner_id}
	</div>
	<div class="r-search-field">
		{$partner_id_editcontrol}	</div>
	<div class="r-search-field">
		{$partner_id_editcontrol1}
	</div>
	
</div>

{END partner_id_fieldblock}
											
{BEGIN partner_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_partner_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="partner_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="partner_name" data-fieldname="partner_name" >


	<label class="r-search-label control-label" for="{$labelfor_partner_name}">
		{$label public_partners partner_name }	</label>
	<div class="r-search-option">
		{$searchtype_partner_name}
	</div>
	<div class="r-search-field">
		{$partner_name_editcontrol}	</div>
	<div class="r-search-field">
		{$partner_name_editcontrol1}
	</div>
	
</div>

{END partner_name_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="description" data-fieldname="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label public_partners description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
											
{BEGIN website_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_website}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="website{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="website" data-fieldname="website" >


	<label class="r-search-label control-label" for="{$labelfor_website}">
		{$label public_partners website }	</label>
	<div class="r-search-option">
		{$searchtype_website}
	</div>
	<div class="r-search-field">
		{$website_editcontrol}	</div>
	<div class="r-search-field">
		{$website_editcontrol1}
	</div>
	
</div>

{END website_fieldblock}
											
{BEGIN contact_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >


	<label class="r-search-label control-label" for="{$labelfor_contact_email}">
		{$label public_partners contact_email }	</label>
	<div class="r-search-option">
		{$searchtype_contact_email}
	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol1}
	</div>
	
</div>

{END contact_email_fieldblock}
											
{BEGIN is_active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="is_active" data-fieldname="is_active" >


	<label class="r-search-label control-label" for="{$labelfor_is_active}">
		{$label public_partners is_active }	</label>
	<div class="r-search-option">
		{$searchtype_is_active}
	</div>
	<div class="r-search-field">
		{$is_active_editcontrol}	</div>
	<div class="r-search-field">
		{$is_active_editcontrol1}
	</div>
	
</div>

{END is_active_fieldblock}
											
{BEGIN created_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >


	<label class="r-search-label control-label" for="{$labelfor_created_at}">
		{$label public_partners created_at }	</label>
	<div class="r-search-option">
		{$searchtype_created_at}
	</div>
	<div class="r-search-field">
		{$created_at_editcontrol}	</div>
	<div class="r-search-field">
		{$created_at_editcontrol1}
	</div>
	
</div>

{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >


	<label class="r-search-label control-label" for="{$labelfor_updated_at}">
		{$label public_partners updated_at }	</label>
	<div class="r-search-option">
		{$searchtype_updated_at}
	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol1}
	</div>
	
</div>

{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
