<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    
<!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm  [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        (function() {
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = 'https://lifebox.merqconsultancy.org/analytics/js/container_DPKCUiEL.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->



    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq  [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//lifebox.merqconsultancy.org/analytics/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_training_attendance search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN attendance_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attendance_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attendance_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="attendance_id" data-fieldname="attendance_id" >


	<label class="r-search-label control-label" for="{$labelfor_attendance_id}">
		{$label public_training_attendance attendance_id }	</label>
	<div class="r-search-option">
		{$searchtype_attendance_id}
	</div>
	<div class="r-search-field">
		{$attendance_id_editcontrol}	</div>
	<div class="r-search-field">
		{$attendance_id_editcontrol1}
	</div>
	
</div>

{END attendance_id_fieldblock}
											
{BEGIN day_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_day_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="day_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="day_number" data-fieldname="day_number" >


	<label class="r-search-label control-label" for="{$labelfor_day_number}">
		{$label public_training_attendance day_number }	</label>
	<div class="r-search-option">
		{$searchtype_day_number}
	</div>
	<div class="r-search-field">
		{$day_number_editcontrol}	</div>
	<div class="r-search-field">
		{$day_number_editcontrol1}
	</div>
	
</div>

{END day_number_fieldblock}
											
{BEGIN attended_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attended}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attended{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="attended" data-fieldname="attended" >


	<label class="r-search-label control-label" for="{$labelfor_attended}">
		{$label public_training_attendance attended }	</label>
	<div class="r-search-option">
		{$searchtype_attended}
	</div>
	<div class="r-search-field">
		{$attended_editcontrol}	</div>
	<div class="r-search-field">
		{$attended_editcontrol1}
	</div>
	
</div>

{END attended_fieldblock}
											
{BEGIN attendance_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_attendance_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="attendance_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="attendance_date" data-fieldname="attendance_date" >


	<label class="r-search-label control-label" for="{$labelfor_attendance_date}">
		{$label public_training_attendance attendance_date }	</label>
	<div class="r-search-option">
		{$searchtype_attendance_date}
	</div>
	<div class="r-search-field">
		{$attendance_date_editcontrol}	</div>
	<div class="r-search-field">
		{$attendance_date_editcontrol1}
	</div>
	
</div>

{END attendance_date_fieldblock}
											
{BEGIN notes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_notes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="notes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="notes" data-fieldname="notes" >


	<label class="r-search-label control-label" for="{$labelfor_notes}">
		{$label public_training_attendance notes }	</label>
	<div class="r-search-option">
		{$searchtype_notes}
	</div>
	<div class="r-search-field">
		{$notes_editcontrol}	</div>
	<div class="r-search-field">
		{$notes_editcontrol1}
	</div>
	
</div>

{END notes_fieldblock}
											
{BEGIN recorded_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_recorded_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="recorded_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="recorded_at" data-fieldname="recorded_at" >


	<label class="r-search-label control-label" for="{$labelfor_recorded_at}">
		{$label public_training_attendance recorded_at }	</label>
	<div class="r-search-option">
		{$searchtype_recorded_at}
	</div>
	<div class="r-search-field">
		{$recorded_at_editcontrol}	</div>
	<div class="r-search-field">
		{$recorded_at_editcontrol1}
	</div>
	
</div>

{END recorded_at_fieldblock}
											
{BEGIN recorded_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_recorded_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="recorded_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="recorded_by" data-fieldname="recorded_by" >


	<label class="r-search-label control-label" for="{$labelfor_recorded_by}">
		{$label public_training_attendance recorded_by }	</label>
	<div class="r-search-option">
		{$searchtype_recorded_by}
	</div>
	<div class="r-search-field">
		{$recorded_by_editcontrol}	</div>
	<div class="r-search-field">
		{$recorded_by_editcontrol1}
	</div>
	
</div>

{END recorded_by_fieldblock}
											
{BEGIN participation_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_participation_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="participation_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="participation_id" data-fieldname="participation_id" >


	<label class="r-search-label control-label" for="{$labelfor_participation_id}">
		{$label public_training_attendance participation_id }	</label>
	<div class="r-search-option">
		{$searchtype_participation_id}
	</div>
	<div class="r-search-field">
		{$participation_id_editcontrol}	</div>
	<div class="r-search-field">
		{$participation_id_editcontrol1}
	</div>
	
</div>

{END participation_id_fieldblock}
											
{BEGIN participant_full_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_participant_full_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="participant_full_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="participant_full_name" data-fieldname="participant_full_name" >


	<label class="r-search-label control-label" for="{$labelfor_participant_full_name}">
		{$label public_training_attendance participant_full_name }	</label>
	<div class="r-search-option">
		{$searchtype_participant_full_name}
	</div>
	<div class="r-search-field">
		{$participant_full_name_editcontrol}	</div>
	<div class="r-search-field">
		{$participant_full_name_editcontrol1}
	</div>
	
</div>

{END participant_full_name_fieldblock}
											
{BEGIN sex_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sex_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sex_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="sex_name" data-fieldname="sex_name" >


	<label class="r-search-label control-label" for="{$labelfor_sex_name}">
		{$label public_training_attendance sex_name }	</label>
	<div class="r-search-option">
		{$searchtype_sex_name}
	</div>
	<div class="r-search-field">
		{$sex_name_editcontrol}	</div>
	<div class="r-search-field">
		{$sex_name_editcontrol1}
	</div>
	
</div>

{END sex_name_fieldblock}
											
{BEGIN facility_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="facility_name" data-fieldname="facility_name" >


	<label class="r-search-label control-label" for="{$labelfor_facility_name}">
		{$label public_training_attendance facility_name }	</label>
	<div class="r-search-option">
		{$searchtype_facility_name}
	</div>
	<div class="r-search-field">
		{$facility_name_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_name_editcontrol1}
	</div>
	
</div>

{END facility_name_fieldblock}
											
{BEGIN role_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_role_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="role_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="role_name" data-fieldname="role_name" >


	<label class="r-search-label control-label" for="{$labelfor_role_name}">
		{$label public_training_attendance role_name }	</label>
	<div class="r-search-option">
		{$searchtype_role_name}
	</div>
	<div class="r-search-field">
		{$role_name_editcontrol}	</div>
	<div class="r-search-field">
		{$role_name_editcontrol1}
	</div>
	
</div>

{END role_name_fieldblock}
											
{BEGIN training_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="training_id" data-fieldname="training_id" >


	<label class="r-search-label control-label" for="{$labelfor_training_id}">
		{$label public_training_attendance training_id }	</label>
	<div class="r-search-option">
		{$searchtype_training_id}
	</div>
	<div class="r-search-field">
		{$training_id_editcontrol}	</div>
	<div class="r-search-field">
		{$training_id_editcontrol1}
	</div>
	
</div>

{END training_id_fieldblock}
											
{BEGIN course_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_course_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="course_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="course_name" data-fieldname="course_name" >


	<label class="r-search-label control-label" for="{$labelfor_course_name}">
		{$label public_training_attendance course_name }	</label>
	<div class="r-search-option">
		{$searchtype_course_name}
	</div>
	<div class="r-search-field">
		{$course_name_editcontrol}	</div>
	<div class="r-search-field">
		{$course_name_editcontrol1}
	</div>
	
</div>

{END course_name_fieldblock}
											
{BEGIN program_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_program_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="program_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="program_name" data-fieldname="program_name" >


	<label class="r-search-label control-label" for="{$labelfor_program_name}">
		{$label public_training_attendance program_name }	</label>
	<div class="r-search-option">
		{$searchtype_program_name}
	</div>
	<div class="r-search-field">
		{$program_name_editcontrol}	</div>
	<div class="r-search-field">
		{$program_name_editcontrol1}
	</div>
	
</div>

{END program_name_fieldblock}
											
{BEGIN program_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_program_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="program_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="program_id" data-fieldname="program_id" >


	<label class="r-search-label control-label" for="{$labelfor_program_id}">
		{$label public_training_attendance program_id }	</label>
	<div class="r-search-option">
		{$searchtype_program_id}
	</div>
	<div class="r-search-field">
		{$program_id_editcontrol}	</div>
	<div class="r-search-field">
		{$program_id_editcontrol1}
	</div>
	
</div>

{END program_id_fieldblock}
											
{BEGIN quarter_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_quarter}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="quarter{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="quarter" data-fieldname="quarter" >


	<label class="r-search-label control-label" for="{$labelfor_quarter}">
		{$label public_training_attendance quarter }	</label>
	<div class="r-search-option">
		{$searchtype_quarter}
	</div>
	<div class="r-search-field">
		{$quarter_editcontrol}	</div>
	<div class="r-search-field">
		{$quarter_editcontrol1}
	</div>
	
</div>

{END quarter_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label public_training_attendance start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN end_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_end_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="end_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="end_date" data-fieldname="end_date" >


	<label class="r-search-label control-label" for="{$labelfor_end_date}">
		{$label public_training_attendance end_date }	</label>
	<div class="r-search-option">
		{$searchtype_end_date}
	</div>
	<div class="r-search-field">
		{$end_date_editcontrol}	</div>
	<div class="r-search-field">
		{$end_date_editcontrol1}
	</div>
	
</div>

{END end_date_fieldblock}
											
{BEGIN training_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="training_type" data-fieldname="training_type" >


	<label class="r-search-label control-label" for="{$labelfor_training_type}">
		{$label public_training_attendance training_type }	</label>
	<div class="r-search-option">
		{$searchtype_training_type}
	</div>
	<div class="r-search-field">
		{$training_type_editcontrol}	</div>
	<div class="r-search-field">
		{$training_type_editcontrol1}
	</div>
	
</div>

{END training_type_fieldblock}
											
{BEGIN training_approach_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_approach}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_approach{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="training_approach" data-fieldname="training_approach" >


	<label class="r-search-label control-label" for="{$labelfor_training_approach}">
		{$label public_training_attendance training_approach }	</label>
	<div class="r-search-option">
		{$searchtype_training_approach}
	</div>
	<div class="r-search-field">
		{$training_approach_editcontrol}	</div>
	<div class="r-search-field">
		{$training_approach_editcontrol1}
	</div>
	
</div>

{END training_approach_fieldblock}
											
{BEGIN host_country_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_host_country}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="host_country{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="host_country" data-fieldname="host_country" >


	<label class="r-search-label control-label" for="{$labelfor_host_country}">
		{$label public_training_attendance host_country }	</label>
	<div class="r-search-option">
		{$searchtype_host_country}
	</div>
	<div class="r-search-field">
		{$host_country_editcontrol}	</div>
	<div class="r-search-field">
		{$host_country_editcontrol1}
	</div>
	
</div>

{END host_country_fieldblock}
											
{BEGIN host_region_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_host_region}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="host_region{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="host_region" data-fieldname="host_region" >


	<label class="r-search-label control-label" for="{$labelfor_host_region}">
		{$label public_training_attendance host_region }	</label>
	<div class="r-search-option">
		{$searchtype_host_region}
	</div>
	<div class="r-search-field">
		{$host_region_editcontrol}	</div>
	<div class="r-search-field">
		{$host_region_editcontrol1}
	</div>
	
</div>

{END host_region_fieldblock}
											
{BEGIN venue_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_venue_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="venue_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="venue_name" data-fieldname="venue_name" >


	<label class="r-search-label control-label" for="{$labelfor_venue_name}">
		{$label public_training_attendance venue_name }	</label>
	<div class="r-search-option">
		{$searchtype_venue_name}
	</div>
	<div class="r-search-field">
		{$venue_name_editcontrol}	</div>
	<div class="r-search-field">
		{$venue_name_editcontrol1}
	</div>
	
</div>

{END venue_name_fieldblock}
											
{BEGIN partner_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_partner_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="partner_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="partner_name" data-fieldname="partner_name" >


	<label class="r-search-label control-label" for="{$labelfor_partner_name}">
		{$label public_training_attendance partner_name }	</label>
	<div class="r-search-option">
		{$searchtype_partner_name}
	</div>
	<div class="r-search-field">
		{$partner_name_editcontrol}	</div>
	<div class="r-search-field">
		{$partner_name_editcontrol1}
	</div>
	
</div>

{END partner_name_fieldblock}
											
{BEGIN training_lead_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_lead_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_lead_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="training_lead_name" data-fieldname="training_lead_name" >


	<label class="r-search-label control-label" for="{$labelfor_training_lead_name}">
		{$label public_training_attendance training_lead_name }	</label>
	<div class="r-search-option">
		{$searchtype_training_lead_name}
	</div>
	<div class="r-search-field">
		{$training_lead_name_editcontrol}	</div>
	<div class="r-search-field">
		{$training_lead_name_editcontrol1}
	</div>
	
</div>

{END training_lead_name_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
