<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="/assets/img/lb_favicon.ico"/>
    <link rel="icon" type="image/svg+xml" href="/assets/img/lb_favicon.svg">
    <link rel="alternate icon" href="/assets/img/lb_favicon.ico">
    <link rel="mask-icon" href="/assets/img/lb_favicon.svg" color="#038DA9">
    		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_training_sessions search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN training_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="training_id" data-fieldname="training_id" >


	<label class="r-search-label control-label" for="{$labelfor_training_id}">
		{$label public_training_sessions training_id }	</label>
	<div class="r-search-option">
		{$searchtype_training_id}
	</div>
	<div class="r-search-field">
		{$training_id_editcontrol}	</div>
	<div class="r-search-field">
		{$training_id_editcontrol1}
	</div>
	
</div>

{END training_id_fieldblock}
											
{BEGIN course_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_course_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="course_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="course_id" data-fieldname="course_id" >


	<label class="r-search-label control-label" for="{$labelfor_course_id}">
		{$label public_training_sessions course_id }	</label>
	<div class="r-search-option">
		{$searchtype_course_id}
	</div>
	<div class="r-search-field">
		{$course_id_editcontrol}	</div>
	<div class="r-search-field">
		{$course_id_editcontrol1}
	</div>
	
</div>

{END course_id_fieldblock}
											
{BEGIN quarter_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_quarter}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="quarter{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="quarter" data-fieldname="quarter" >


	<label class="r-search-label control-label" for="{$labelfor_quarter}">
		{$label public_training_sessions quarter }	</label>
	<div class="r-search-option">
		{$searchtype_quarter}
	</div>
	<div class="r-search-field">
		{$quarter_editcontrol}	</div>
	<div class="r-search-field">
		{$quarter_editcontrol1}
	</div>
	
</div>

{END quarter_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label public_training_sessions start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN end_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_end_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="end_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="end_date" data-fieldname="end_date" >


	<label class="r-search-label control-label" for="{$labelfor_end_date}">
		{$label public_training_sessions end_date }	</label>
	<div class="r-search-option">
		{$searchtype_end_date}
	</div>
	<div class="r-search-field">
		{$end_date_editcontrol}	</div>
	<div class="r-search-field">
		{$end_date_editcontrol1}
	</div>
	
</div>

{END end_date_fieldblock}
											
{BEGIN facility_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facility_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="facility_id" data-fieldname="facility_id" >


	<label class="r-search-label control-label" for="{$labelfor_facility_id}">
		{$label public_training_sessions facility_id }	</label>
	<div class="r-search-option">
		{$searchtype_facility_id}
	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol}	</div>
	<div class="r-search-field">
		{$facility_id_editcontrol1}
	</div>
	
</div>

{END facility_id_fieldblock}
											
{BEGIN host_country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_host_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="host_country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="host_country_id" data-fieldname="host_country_id" >


	<label class="r-search-label control-label" for="{$labelfor_host_country_id}">
		{$label public_training_sessions host_country_id }	</label>
	<div class="r-search-option">
		{$searchtype_host_country_id}
	</div>
	<div class="r-search-field">
		{$host_country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$host_country_id_editcontrol1}
	</div>
	
</div>

{END host_country_id_fieldblock}
											
{BEGIN ceu_points_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ceu_points}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ceu_points{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ceu_points" data-fieldname="ceu_points" >


	<label class="r-search-label control-label" for="{$labelfor_ceu_points}">
		{$label public_training_sessions ceu_points }	</label>
	<div class="r-search-option">
		{$searchtype_ceu_points}
	</div>
	<div class="r-search-field">
		{$ceu_points_editcontrol}	</div>
	<div class="r-search-field">
		{$ceu_points_editcontrol1}
	</div>
	
</div>

{END ceu_points_fieldblock}
											
{BEGIN num_participants_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_num_participants}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="num_participants{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="num_participants" data-fieldname="num_participants" >


	<label class="r-search-label control-label" for="{$labelfor_num_participants}">
		{$label public_training_sessions num_participants }	</label>
	<div class="r-search-option">
		{$searchtype_num_participants}
	</div>
	<div class="r-search-field">
		{$num_participants_editcontrol}	</div>
	<div class="r-search-field">
		{$num_participants_editcontrol1}
	</div>
	
</div>

{END num_participants_fieldblock}
											
{BEGIN avg_pre_test_score_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_avg_pre_test_score}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="avg_pre_test_score{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="avg_pre_test_score" data-fieldname="avg_pre_test_score" >


	<label class="r-search-label control-label" for="{$labelfor_avg_pre_test_score}">
		{$label public_training_sessions avg_pre_test_score }	</label>
	<div class="r-search-option">
		{$searchtype_avg_pre_test_score}
	</div>
	<div class="r-search-field">
		{$avg_pre_test_score_editcontrol}	</div>
	<div class="r-search-field">
		{$avg_pre_test_score_editcontrol1}
	</div>
	
</div>

{END avg_pre_test_score_fieldblock}
											
{BEGIN avg_post_test_score_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_avg_post_test_score}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="avg_post_test_score{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="avg_post_test_score" data-fieldname="avg_post_test_score" >


	<label class="r-search-label control-label" for="{$labelfor_avg_post_test_score}">
		{$label public_training_sessions avg_post_test_score }	</label>
	<div class="r-search-option">
		{$searchtype_avg_post_test_score}
	</div>
	<div class="r-search-field">
		{$avg_post_test_score_editcontrol}	</div>
	<div class="r-search-field">
		{$avg_post_test_score_editcontrol1}
	</div>
	
</div>

{END avg_post_test_score_fieldblock}
											
{BEGIN remarks_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remarks}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remarks{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="remarks" data-fieldname="remarks" >


	<label class="r-search-label control-label" for="{$labelfor_remarks}">
		{$label public_training_sessions remarks }	</label>
	<div class="r-search-option">
		{$searchtype_remarks}
	</div>
	<div class="r-search-field">
		{$remarks_editcontrol}	</div>
	<div class="r-search-field">
		{$remarks_editcontrol1}
	</div>
	
</div>

{END remarks_fieldblock}
											
{BEGIN created_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >


	<label class="r-search-label control-label" for="{$labelfor_created_at}">
		{$label public_training_sessions created_at }	</label>
	<div class="r-search-option">
		{$searchtype_created_at}
	</div>
	<div class="r-search-field">
		{$created_at_editcontrol}	</div>
	<div class="r-search-field">
		{$created_at_editcontrol1}
	</div>
	
</div>

{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >


	<label class="r-search-label control-label" for="{$labelfor_updated_at}">
		{$label public_training_sessions updated_at }	</label>
	<div class="r-search-option">
		{$searchtype_updated_at}
	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol1}
	</div>
	
</div>

{END updated_at_fieldblock}
											
{BEGIN training_type_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_type_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_type_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="training_type_id" data-fieldname="training_type_id" >


	<label class="r-search-label control-label" for="{$labelfor_training_type_id}">
		{$label public_training_sessions training_type_id }	</label>
	<div class="r-search-option">
		{$searchtype_training_type_id}
	</div>
	<div class="r-search-field">
		{$training_type_id_editcontrol}	</div>
	<div class="r-search-field">
		{$training_type_id_editcontrol1}
	</div>
	
</div>

{END training_type_id_fieldblock}
											
{BEGIN approach_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_approach_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="approach_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="approach_id" data-fieldname="approach_id" >


	<label class="r-search-label control-label" for="{$labelfor_approach_id}">
		{$label public_training_sessions approach_id }	</label>
	<div class="r-search-option">
		{$searchtype_approach_id}
	</div>
	<div class="r-search-field">
		{$approach_id_editcontrol}	</div>
	<div class="r-search-field">
		{$approach_id_editcontrol1}
	</div>
	
</div>

{END approach_id_fieldblock}
											
{BEGIN program_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_program_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="program_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="program_id" data-fieldname="program_id" >


	<label class="r-search-label control-label" for="{$labelfor_program_id}">
		{$label public_training_sessions program_id }	</label>
	<div class="r-search-option">
		{$searchtype_program_id}
	</div>
	<div class="r-search-field">
		{$program_id_editcontrol}	</div>
	<div class="r-search-field">
		{$program_id_editcontrol1}
	</div>
	
</div>

{END program_id_fieldblock}
											
{BEGIN training_details_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_training_details}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="training_details{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="training_details" data-fieldname="training_details" >


	<label class="r-search-label control-label" for="{$labelfor_training_details}">
		{$label public_training_sessions training_details }	</label>
	<div class="r-search-option">
		{$searchtype_training_details}
	</div>
	<div class="r-search-field">
		{$training_details_editcontrol}	</div>
	<div class="r-search-field">
		{$training_details_editcontrol1}
	</div>
	
</div>

{END training_details_fieldblock}
											
{BEGIN venue_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_venue_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="venue_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="venue_id" data-fieldname="venue_id" >


	<label class="r-search-label control-label" for="{$labelfor_venue_id}">
		{$label public_training_sessions venue_id }	</label>
	<div class="r-search-option">
		{$searchtype_venue_id}
	</div>
	<div class="r-search-field">
		{$venue_id_editcontrol}	</div>
	<div class="r-search-field">
		{$venue_id_editcontrol1}
	</div>
	
</div>

{END venue_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
